<div class="aboutDiv">
    <p class="ltr">0.2.4.oved.lo.lagaat-לרשום בפאב </p>
    <p>נוצר עבור פאב אבירים</p>
    <p>ע"י ניבה גבינהצהובה</p>
    <p>ותום תרם את הטאבלט</p>
    <p>המידע המועט שנשמר פה די מוגן באינטרנט</p>
    <p>ובסוף הופך להיות דף אקסל בהנהלת חשבונות</p>
    <br>
    <a href="https://github.com/naamanmeir/topaythepub" target="_blank">
        <p style="margin: 0 50% 0 50%">github</p>
    </a>
</div>