<!DOCTYPE html>
<html lang="utf-8">
    <style>
        .aboutDiv{
            border: inset rgb(167, 161, 153) 2.5px;
            border-radius: 5%;
            background-color: rgba(0, 0, 0, 0.84);
            padding: 0.5rem;            
            width: 90vw;            
            display: flex;
            flex-direction: column;
            margin-top: 15vh;
        }
        p {
            color: whitesmoke;            
            font-size: 100%;
            margin: 0.5rem;
        }
        .ltr{
            direction: ltr;
            text-align: right;
            margin: auto;
            font-size: 125%;
        }
        a {
            color: whitesmoke;            
            margin-top: 1rem;
        }
        </style>
<body>
    <div class="aboutDiv">
            <p class="ltr">0.2.4.oved.lo.lagaat-לרשום בפאב </p>
            <p>נוצר עבור פאב אבירים</p>
            <p>ע"י ניבה גבינהצהובה</p>
            <p>ותום תרם את הטאבלט</p>
            <p>המידע המועט שנשמר פה די מוגן באינטרנט</p>
            <p>ובסוף הופך להיות דף אקסל בהנהלת חשבונות</p>
            <br>            
        <a href="https://github.com/naamanmeir/topaythepub" target="_blank"><p style="margin: 0 50% 0 50%">github</p></a>
    </div>    
</body>
</html>