<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>תשלומי פאב</title>
    <link rel="stylesheet" href="css/accountant.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>

    <%- include('./partials/headerStatic'); %>

    <div class="row linebreak"></div>

    <!-- TEXT FIELDS -->
    <div class="content column">  

            <!-- BUTTONS -->
    <div class="content row">
        
        <div class="buttonBig" id="getAccountData">
            <button onclick="createReportFile()">יצירת קובץ דו"ח להורדה</button>
        </div>

    </div>

    <div class="content row">

        <div class="buttonSmall" id="getAccountData">
            <button onclick="getAllData(4)">הצגת דו"ח</button>
        </div>

        <div class="buttonSmall" id="getOrdersData">
            <button onclick="getAllData(1)">הצגת נתוני עסקאות</button>
        </div>

        <div class="buttonSmall" id="getClientData">
            <button onclick="getAllData(2)">הצגת נתוני משתמשים הולכים על 2</button>
        </div>

        <div class="buttonSmall" id="getClientData">
            <button onclick="getAllData(3)">הצגת נתוני משתמשים</button>
        </div>

    </div>

    <br>    
    <br>

    <div class="row linebreak"></div>  
    
    <%- include('./partials/footer'); %>

    <script src="js/script-accountant.js"></script>
    
</body>
</html>
