<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<body>
    <p> admin page </p>

    <P>hello <%=username%></P>
    <a href='./logout'>click here to logout</a>
    <h1><%= message %></h1>

    
    <form action="./secretadminpanel/createUser" method="post" enctype="application/x-www-form-urlencoded">
        <h2>Create User</h2>
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter New Username">
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter New Password">
        </div>
        <div class="input-field">
            <input type="number" name="class" id="class" placeholder="Enter User Class">
        </div>
        <input type="submit" value="create user">
    </form>
</body>
</html>