<head>
    <link rel="stylesheet" href="./css/content.css">
</head>
<div class="searchBoxDiv" id="searchBoxDiv">
    <input type="search" name="searchBoxName" class="searchBox" id="searchBox" spellcheck="false" autocomplete="off">
    <div class="autoCompleteNone" id="autoComplete"></div>
</div>

<div id="productsDiv"></div>

<div id="buttons">
    <button id="buttonCancel"></button>
    <button id="buttonOrder"></button>
</div>

<script id="contentScript" src="js/script_content.js"></script>