    <header>
    <style>
        .content {
        z-index: 5;
        height: 65vh;        
        left: 1%;
        right: 1%;
        margin: auto;
        max-width: 800px;
        transition: background-color 0.8s ease;
        border: 5px solid orange;
    }
    .searchBoxDiv {
        margin: auto;
        width: 80%;
        margin-top: 0.5rem;
        height: 4rem;
        margin-bottom: 3rem;
        align-items: center;
        text-align: center;
    }
    .searchBox {
        color: rgb(245, 191, 90);
        text-shadow: 1px 0px 0px #000000;
        border-radius: 25px;
        border: 3px double orange;
        background-color: rgba(142, 128, 103, 0.584);
        height: 100%;
        width: 90%;
        font-size: 1.6em;
        margin: auto;
        padding-top: 0;
        padding-right: 1em;
        padding-left: 1em;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        user-select: none;
    }
    .buttons {        
        display: flex;
        flex: 1;
        flex-direction: row;        
        float: none;
        width: 100%;
        height: fit-content;        
        margin-bottom: 1rem;        
        bottom: 0px;        
        text-align: center;        
    }
    .buttons button {
        margin: auto;
        min-width: 0px;
        min-height: 0px;
        width: 100%;
        height: fit-content;
        color: black;
        font-size: 175%;
        padding: 0rem 1rem 0rem 1rem;
        text-shadow: 5px 1px 10px #a49c9c;
        border: 3px outset rgba(230, 145, 9, 0.495);
    }
    .buttons button:active {
        border: 3px inset grey;
    }
    #cancel {
        background-color: red;
    }
    #placeOrder {
        background-color: green;
    }
    </style>
</header>

<div class="searchBoxDiv" id="searchBoxDiv">
    <div class="userStateIndicator" id="userStateIndicator">
        <p></p>
    </div>
    <input type="search" name="searchBoxName" class="searchBox" id="searchBox" spellcheck="false" placeholder=" נא להכניס שם✍👉👉">
    <div class="autoCompleteNone" id="autoComplete"></div>
</div>

<div class="messageBox column" id="messageBox"></div>

<div class="productsDiv" id="productsDiv"></div>

<div class="buttons" id="buttons">
    <div class="errorMessage" id="errorMessage"></div>
    <button id="cancel" onclick="orderButtons(2)"> בטל</button>
    <button id="placeOrder" onclick="orderButtons(1)">בצע רישום</button>
</div>

<script id="contentScript" src="js/script_content.js"></script>