<head>
    <link rel="stylesheet" href="./css/content.css">
</head>
<div class="searchBoxDiv" id="searchBoxDiv">
    <div class="userStateIndicator" id="userStateIndicator">
        <p></p>
    </div>
    <input type="search" name="searchBoxName" class="searchBox" id="searchBox" spellcheck="false"
        placeholder=" נא להכניס שם✍👉👉">
    <div class="autoCompleteNone" id="autoComplete"></div>
</div>

<div class="messageBox column" id="messageBox"></div>

<div class="productsDiv" id="productsDiv"></div>

<div class="break"></div>

<div class="buttons" id="buttons">
    <div class="errorMessage" id="errorMessage"></div>
    <button id="buttonCancel">בטל</button>
    <button id="buttonOrder">בצע רישום</button>
</div>

<script id="contentScript" src="js/script_content.js"></script>