<head>
    <link rel="stylesheet" href="./css/header.css">
</head>
<div class="header no-border anim1">
    <p id="headerAnimElement1" class="animElement animColor1"></p>
    <p id="headerText" class="shadow1"></p>
    <p id="headerAnimElement2" class="animElement animColor2"></p>
</div>