<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="width=window-width, height=window-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">    
    <link rel="stylesheet" href="./css/main2.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <title>לרשום בפאב</title>
</head>

<body oncontextmenu="return false;">

    <div id="sideNav" class="sidenav"></div>

        <span class="elementOpen" onclick="openNav()"><p style="color: aliceblue;margin:auto;margin-right: 0.5rem;">תפריט</p><img src="img/ui/menu_top03.png"></span>

    <%- include('./partials/header'); %>

    <div class="content" id="content">

        <div class="searchBoxDiv" id="searchBoxDiv">
            <div class="userStateIndicator" id="userStateIndicator">
                <p></p>
            </div>
            <input type="search" name="searchBoxName" class="searchBox" id="searchBox" spellcheck="false" placeholder=" נא להכניס שם✍👉👉">
            <div class="autoCompleteNone" id="autoComplete"></div>
        </div>

        <div class="messageBox column" id="messageBox"></div>

        <div class="items" id="itemsDiv"></div>

        <div class="buttons" id="buttons">
            <div class="errorMessage" id="errorMessage"></div>
            <button id="cancel" onclick="orderButtons(2)"> בטל</button>
            <button id="placeOrder" onclick="orderButtons(1)">בצע רישום</button>
        </div>        

    </div>    

    <div class="backgroundCanvas">
        <canvas class="canvas" id="canvas"></canvas>
    </div>

    <!-- <%- include('./partials/footer'); %> -->

    <!-- <div class="backgroundTest"></div> -->    

    <!-- <div class="hidden" id="backgroundPanel0"></div> -->

     <script src="js/script2.js"></script>
     <!-- <script src="js/bgFuncs.js"></script> -->
    
</body>
</html>