<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" id="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="./css/style.css?version=#">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <title>לרשום בפאב</title>
</head>

<body oncontextmenu="return false;">

    <div class="divFullPage" id="divFullPage">

        <div class="header" id="divHeader"></div>

        <div class="topmenu" id="divTopMenu"></div>

        <div class="sidemenu" id="divSideMenu"></div>

        <div class="floatmenu" id="divFloatMenu"></div>

        <div class="openSideMenu" id="openSideMenu"><img src="img/ui/menu_top03.png"></div>

        <div class="content" id="divContent"></div>

        <div class="messageBoard" id="divMessageBoard"></div>

        <div class="divAboutClose" id="divAbout"></div>

        <div class="footerDiv" id="divFooter"></div>

        <script src="js/script_main.js"></script>
        <script src="js/script_mboard.js"></script>

    </div>

</body>

</html>