body {
    direction: rtl;
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: white;
    font-size: larger;
}

h1{
    margin: 1%;
}
h2{
    margin: 1%;
}
h3{
    margin: 1%;
}

form {
    display: flex;
    flex-direction: column;
    color: white;
}

.input-field {
    position: relative;
    margin-top: 2rem;
}

.input-field input {
    direction: ltr;
    font-size: larger;
    padding: 0.8rem;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

form input[type="submit"] {
    background: rgb(59, 225, 73);
    color: rgb(0, 0, 0);
    border-radius: 4px;
    margin-top: 2rem;
    font-size: larger;
    padding: 0.4rem;
}