<html>
<head>
    <link rel="stylesheet" href="views/login.css">
</head>
<body>
    <form action="./login" method="post" enctype="application/x-www-form-urlencoded">
        <h2>Login</h2>
        <h1><%= message %></h1>
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Enter Username">
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Enter Password">
        </div>
        <input type="submit" value="LogIn">
    </form>
</body>
</html>