<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>ניהול</title>
    <link rel="stylesheet" href="css/manage.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>

    <%- include('./partials/header'); %>

    <!-- TEXT FIELDS -->
    <div class="content column">

        <div class="editUser">            
            <div class="function">
                <p>עריכת משתמש קיים</p>
                <input type="search" class="textbox" id="getUserByName" spellcheck="false" placeholder=" הכנס שם">
                <button onclick="getUserDetailsByFields('getUserByName','editNick','editNumber','editName')">בקש נתונים</button>
            </div>
            <div class="row">
                <input type="search" class="textboxShort" id="editName" spellcheck="false" placeholder=" ערוך שם חדש">
                <button onclick="editClientFields(1,'editName')">עריכת שם</button>
                <input type="search" class="textboxShort" id="editNick" spellcheck="false" placeholder=" ערוך כינוי חדש ">
                <button onclick="editClientFields(2,'editNick')">עריכת כינוי</button>
            </div>
            <div class="row">
                <input type="number" class="textboxShort" id="editNumber" spellcheck="false" placeholder=" ערוך מספר חשבון חדש">
                <button onclick="editClientFields(3,'editNumber')">עריכת מספר</button>
                <button class="left red" onclick="deleteName()">מחיקת משתמש</button>
            </div>
            <p>מחיקת פעולה אחרונה</p>
        </div>

        <br>

        <div class="addUser">
            <div class="function column">
                <p>הכנסת משתמש חדש</p>
                <p>שם משתמש : <input type="search" class="textbox" id="insertName" spellcheck="false" placeholder=" הכנס שם"></p>
                <p>כינוי : <input type="search" class="textbox" id="insertNick" spellcheck="false" placeholder=" הכנס כינוי "></p>
                <p>מספר חשבון : <input type="text" class="textboxShort" id="insertNumber" min="0" maxlength="4"  id="pin" pattern="\d{4}" required spellcheck="false" placeholder=" הכנס מספר חשבון ">
                <button onclick="insertName('insertName','insertNick','insertNumber','insertUserStatus')">הכנס משתמש</button>
                <button id="insertUserStatus"></button>
                </p>
            </div>

        </div>

        <br>

            <!-- BUTTONS -->
    <div class="content row">

        <div class="function" id="getOrdersData">
            <button onclick="getAllData(1)">הצגת נתוני עסקאות</button>
        </div>

        <div class="function" id="getCLientData">
            <button onclick="getAllData(2)">הצגת נתוני משתמשים</button>
        </div>        

        <div class="function" id="getAccounData">
            <button onclick="getAllData(3)">הצגת נתונים לדו"ח</button>
        </div>

        <div class="function" id="backupTable">
            <button onclick="backupTable()">גיבוי הטבלה במאגר</button>
        </div>

        <div class="function" id="resetDbData">
            <button>איפוס נתונים לאחר קריאה</button>
        </div>

        <div class="createTablefunction">
            <button onclick="createTable()">צור טבלה נדרשת</button>
        </div>

    </div>  

        <br>
        <div class="clear">
            <button onclick="clearConsole()">clear console</button>
        </div>
        <div class="console" id="console">
        </div>

        <br>

        <div class="older">
            <!-- old -->
            <p>הכנסת שם למאגר OLD DONT USE</p>
            <input type="search" class="textbox" id="insertNameText" onkeyup="createName()" spellcheck="false" placeholder="...">            
            <button onclick="insertNameOld()">הכנס שם חדש</button>
            <reply></reply>
        </div>        

        <div class="function" id="deleteName">
            <p>מחיקת שם מהמאגר</p>
            <input type="search" class="textbox" id="deleteNameText" onkeyup="createNameForDelete()" spellcheck="false" placeholder="...">
            <button onclick="deleteName()">מחק שם קיים</button>
            <reply></reply>
        </div>

        <div class="function" id="removeLastAction">
            <p>מחיקת פעולה אחרונה של משתמש </p>
            <input type="search" class="textbox" id="deleteNameText" onkeyup="removeLastAction()" spellcheck="false" placeholder="...">
            <button>מחק פעולה אחרונה</button>
            <reply></reply>
        </div>
    </div>

    <br>    
    <br>

  
    
    <%- include('./partials/footer'); %>

    <script src="js/script-manage.js"></script>
    
</body>
</html>
