<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    <title>ניהול</title>
    <link rel="stylesheet" href="css/manage.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>

    <%- include('./partials/headerStatic'); %>

    <div class="row linebreak"></div>


    <!-- TEXT FIELDS -->
    <div class="content column">

        <div class="editUser">            
            <div class="function">
                <p>עריכת משתמש קיים</p>
                <input type="search" class="searchBoxNoLogged" id="getUserByName" spellcheck="false" placeholder=" הכנס שם">
                <div class="autoCompleteNone" id="autoComplete"></div>
            </div>
            <div class="row">
                <input type="search" class="textboxShort" id="editName" spellcheck="false" placeholder="ערוך שם">
                <button onclick="editClient(1,'editName')">עריכת שם</button>
                <div class="row"></div>
                <input type="search" class="textboxShort" id="editNick" spellcheck="false" placeholder="ערוך כינוי">
                <button onclick="editClient(2,'editNick')">עריכת כינוי</button>
            </div>
            <div class="row">
                <input type="number" class="textboxNumber" id="editNumber" spellcheck="false" placeholder="ערוך מספר חשבון">
                <button onclick="editClient(3,'editNumber')">עריכת מספר</button>            
                <button class="center orange" onclick="clientGetOrderHistory()">צפייה בהסטוריית הזמנות</button>
                <button class="center orange" onclick="clientDeleteLastOrder()">מחיקת הזמנה אחרונה</button>
                <button class="red" onclick="deleteClient()">מחיקת משתמש</button>
            </div>
            <br>
            <div class="row">
                <div class="logText" id="editLog">-</div>
            </div>
        </div>

        <div class="row linebreak"></div>

        <div class="addUser">
            <div class="function column">
                <p>הכנסת משתמש חדש</p>
                <p>שם משתמש : </p>
                <input type="search" class="textbox" id="insertName" spellcheck="false" placeholder=" הכנס שם" onchange="copyNameToNick()">
                <p>כינוי : </p>
                <input type="search" class="textbox" id="insertNick" spellcheck="false" placeholder=" הכנס כינוי ">
                <p>מספר חשבון : </p>
                <input type="text" class="textboxNumber" id="insertNumber" min="0" maxlength="4"  id="pin" pattern="\d{4}" required spellcheck="false" placeholder=" הכנס מספר חשבון ">
                <button class="green" onclick="insertName()">הכנס משתמש</button>
                </p>
            </div>

            <div class="row">
                <div class="logText" id="addLog">-</div>
            </div>

        </div>

    </div>

        <div class="row linebreak"></div>

        <div class="editProduct">
            <div class="row">
                <p>עריכת מוצר קיים</p>
                <!-- <input type="search" class="searchBoxNoLogged" id="getProductName" spellcheck="false" placeholder=" מצא מוצר מהרשימה"> -->
                <select class="select" id="selectProduct" onchange="editProductLoad()"><option>בחר מוצר</option></select>
                <div class="autoCompleteNone" id="autoComplete"></div>
            </div>
            <div class="row">
                <input type="search" class="textboxShort" id="productName" spellcheck="false" placeholder="ערוך שם מוצר">                
                <div class="row"></div>
            </div>
            <div class="row">
                <input type="number" class="textboxNumber" id="productPrice" spellcheck="false" placeholder="ערוך מחיר">
            </div>
            <div class="row">
                <input type="number" class="textboxNumber" id="productStock" spellcheck="false" placeholder="ערוך כמות">
            </div>
            <div class="row">    
                <button class="green" onclick="editProduct()">עדכן נתונים</button>
                <button class="red" onclick="deleteProduct()">מחיקת מוצר</button>
            </div>
            <br>
            <div class="row">
                <div class="logText" id="productsEditLog">-</div>
            </div>
        </div>

        <div class="row linebreak"></div>

        <div class="addProduct">
            <div class="function column">
                <p>הכנסת מוצר</p>
                <p>שם מוצר : </p>
                <input type="search" class="textbox" id="insertProduct" spellcheck="false" placeholder=" הכנס מוצר">
                <p> מחיר : </p>
                <input type="text" class="textboxNumber" id="insertPrice" min="0" maxlength="4"  id="pin" pattern="\d{4}" required spellcheck="false" placeholder=" הכנס מחיר  ">
                <p> תמונה : </p>
                <select class="select" id="selectImg"><option value="1">מקרר</option><option value="2">בירה</option><option value="3">משקה</option><option value="4">מרק</option><option value="5">פיצה</option><option value="6">משהו מיוחד</option><option value="7">ויוורק</option><option value="8">מרק2</option><option value="9">מרק3</option></select>
                <p> כמות : </p>
                <input type="text" class="textboxNumber" id="insertStock" min="0" maxlength="4"  id="pin" pattern="\d{4}" required spellcheck="false" placeholder=" הכנס כמות  ">
                <button class="green" onclick="insertProduct()">הכנס מוצר</button>
                </p>
            </div>

            <div class="row">
                <div class="logText" id="productsLog">-</div>
            </div>

        </div>

        <div class="row linebreak"></div>

        <div class="archive">
            <p>ארכיון</p>
            <select class="select" name="reportArchive" id="reportArchive">
            </select>
            <button class="green" onclick="requestReportArchive()">הצג נתוני ארכיון</button>
        </div>

        <div class="function" id="backupTable">
            <button class="orange" onclick="backupTable()">יצירת גיבוי חדש</button>
        </div>

        <div class="row"></div>

        <div class="function" id="resetDbData">
            <button class="red" onclick="resetAfterReport()">איפוס נתונים לאחר קריאה</button>
        </div>

        <div class="row"></div>
        

        <div class="row linebreak"></div>

            <!-- BUTTONS -->

            <button onClick="openInfotables()">הצגת  </button>

            <!-- <button onClick="location.href='report'">הצגת נתונים </button> -->
            <!-- <a href="./report">sdgsdgsg</a> -->

    <div class="content row">

        <div class="function" id="getAccounData">
            <button onclick="getAllData(4)">נתונים לדו"ח</button>
        </div>

        <div class="function" id="getOrdersData">
            <button onclick="getAllData(1)">נתוני עסקאות</button>
        </div>

        <div class="function" id="getCLientData">
            <button onclick="getAllData(2)">נתוני משתמשים</button>
        </div>

        <div class="function" id="getCLientData">
            <button onclick="getAllData(3)">נתוני משתמשים כולל כלבים</button>
        </div>

    </div>

        <div class="content column"></div>

        <div class="row linebreak"></div>

    <div class="content row">



        <div class="function" id="createTablefunction">
            <button onclick="createTable()">צור טבלה נדרשת</button>
        </div>

        <div class="function" id="importNameListFromFile">
            <button onclick="importNameListFile()">הכנס רשימת שמות</button>
        </div>

    </div>  

    <div class="row linebreak"></div>

        <br>
        <div class="clear">
            <button onclick="clearConsole()">clear console</button>
        </div>
        <div class="console" id="console">
        </div>        

    </div>

    <br>    
    <br>

  
    
    <%- include('./partials/footer'); %>

    <script src="js/script-manage.js"></script>
    
</body>
</html>
