<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>ניהול</title>
    <link rel="stylesheet" href="css/manage.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
</head>
<body>
    <div class="content column">

        <%- include('./partials/header'); %>

        <div class="function" id="editRow" >
            <p> עריכת שורה </p>
            <input type="search" class="textbox" id="getName" onkeyup="getName()" spellcheck="false" placeholder=" הכנס שם">            
            <button>שגר פקודה </button>
            <reply></reply>
        </div>    

        <div class="function" id="getName" >
            <p>מציאת שם במאגר</p>
            <input type="search" class="textbox" id="getName" onkeyup="getName()" spellcheck="false" placeholder=" הכנס שם">            
            <button>מצא שם קיים</button>
            <reply></reply>
        </div>        

        <div class="function" id="insertName">
            <p>הכנסת שם למאגר</p>
            <input type="search" class="textbox" id="insertNameText" onkeyup="createName()" spellcheck="false" placeholder="...">            
            <button onclick="insertName()">הכנס שם חדש</button>
            <reply></reply>
        </div>        

        <div class="function" id="deleteName">
            <p>מחיקת שם מהמאגר</p>
            <input type="search" class="textbox" id="deleteNameText" onkeyup="createNameForDelete()" spellcheck="false" placeholder="...">
            <button onclick="deleteName()">מחק שם קיים</button>
            <reply></reply>
        </div>

        <div class="function" id="removeLastAction">
            <p>מחיקת פעולה אחרונה של משתמש </p>
            <input type="search" class="textbox" id="deleteNameText" onkeyup="removeLastAction()" spellcheck="false" placeholder="...">
            <button>מחק פעולה אחרונה</button>
            <reply></reply>
        </div>

    </div>
    <div class="content row">

        <div class="function" id="getDbData">
            <button onclick="getAllData(1)">הצגת כל נתוני המאגר</button>
        </div>

        <div class="function" id="getAccounData">
            <button onclick="getAllData(2)">הצגת נתונים לדו"ח</button>
        </div>

        <div class="function" id="backupTable">
            <button onclick="backupTable()">גיבוי הטבלה במאגר</button>
        </div>

        <div class="function" id="resetDbData">
            <button>איפוס נתונים לאחר קריאה</button>
        </div>

    </div>    
    
    <%- include('./partials/footer'); %>

    <script src="js/script-manage.js"></script>
    
</body>
</html>
