<head>
    <link rel="stylesheet" href="./css/sidemenu.css">
</head>
<div class="sideMenuDiv">
    <a href="javascript:void(0)" class="openAbout">אודות </a>
    <a href="#" id="fs_mark" onclick="fullScreen()">מסך מלא</a>
    <a href="./logout"> התנתק</a>
    <a href="#" class="hidden green" id="user_info" onclick="getUserInfoById()">משתמש</a>
    <a href="javascript:void(0)" class="closebtn" onclick="closeSideMenu()"><img src="img/ui/menu_close.png"></a>
</div>