<head>
    <link rel="stylesheet" href="./css/sidemenu.css">
</head>
<div class="sideMenuDiv">
    <p id="openAbout">אודות </p>
    <p id="fullScreenButton">מסך מלא</p>
    <p href="./logout"> התנתק</p>
    <p id="closeSideMenu" class="closeSideMenu"><img src="img/ui/menu_close.png"></p>
</div>