<!DOCTYPE html>
<html lang="utf-8">
    <style>
        .topMenuDiv{
            background-color: blue;
        }

    </style>
<body>
    <div class="topMenuDiv">
        <p>THIS IS THE TOP MENU</p>
    </div>
    </body>
</html>