<head>
    <link rel="stylesheet" href="./css/topMenu.css">
</head>

<div class="topMenuDiv">
    <div id="conIndic" class="connectionIndic conOk"></div>
    <div id="userIndic" class="userIndicInsert">נא הכניסו שם משתמש</div>
    <div id="userPage" class="userPageHidden">דף משתמש</div>
</div>