<div class="searchBoxDiv" id="searchBoxDiv">
    <div class="userStateIndicator" id="userStateIndicator">
        <p></p>
    </div>
    <input type="search" name="searchBoxName" class="searchBox" id="searchBox" spellcheck="false" placeholder=" × × ×œ×”×›× ×™×¡ ×©×âœðŸ‘‰ðŸ‘‰">
    <div class="autoCompleteNone" id="autoComplete"></div>
</div>