html,
body,
.grid {
    width: 95%;
    height: fit-content;
    left: 1%;
    right: 1%;
    background-color: rgb(221, 233, 251);
    direction: rtl;
    user-select: none;
    scroll-behavior: smooth;
    /* float: center; */
}
.header{
    grid-area: header;
    text-align: center;
    right: 0px;
    margin: 0px;
    padding: 0px;
    padding-top: 1%;
}
.header p{
    color: blue;
    font-size: 2rem;
    line-height: 0.5rem;
    margin: 0px;
    padding: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
}
.content {
    height: fit-content;        
    max-width: 1200px;
    /* float: center; */
    left: 50%;
    right: 50%;    
    display: flex;
    margin: auto;
    /* gap: 10px 10px; */
}
.column{
    flex-direction: column;
}
.row{
    padding-top: 1%;
    flex-direction: row;
}
.tableStyle{
    width: 100%;
    font-size: 3rem;
    color: aqua;
    background-color: rgb(223, 14, 14);
    color: lightblue;
}
.logText{
    direction: ltr;
}
button {
    margin: 0.8rem;
    height: 4rem;    
    width: fit-content;
    height: fit-content;
    min-height: 3rem;    
}
.buttonBig{
    background-color: green;
    font-size: larger;
    color: whitesmoke;
}
.buttonSmall{
    width: fit-content;
}
.red{
    background-color: red;
}
.footer{
    color: black;    
    position: sticky;
    text-align: center;
    font-size: x-small;
    /* line-height: 50px; */
    height: 1px;
    bottom: 0px;    
    padding: 0px 0px 0px 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    margin: 0px 0px 0px 0px;    
    margin-bottom: 3%;
}

.linebreak{
    background-color: green;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}