.content {
    z-index: 5;
    height: 90%;
    width: 98%;
    left: 1%;
    right: 1%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    flex-shrink: 2;
    max-width: 800px;
    transition: background-color 0.8s ease;
    /* border: 5px solid orange; */
}

.searchBoxDiv {
    margin: auto;
    width: 80%;
    margin-top: 0.5rem;
    height: 4rem;
    top: 0px;
    margin-bottom: 3rem;
    align-items: center;
    text-align: center;
}

.searchBox {
    color: rgb(245, 191, 90);
    text-shadow: 1px 0px 0px #000000;
    border-radius: 25px;
    border: 3px double orange;
    background-color: rgba(142, 128, 103, 0.584);
    height: 100%;
    width: 100%;
    font-size: 1.6em;
    margin: auto;
    padding-top: 0px;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    user-select: none;
}

::placeholder {
    color: rgb(245, 191, 90);
    opacity: 1;
}

.searchBoxLogged {
    border-color: green;
    transition: all 0.2s;
}

.searchBoxNotLogged {
    border-color: orange;
}

.autoCompleteNone {
    display: none;
    height: 0;
}

.autoCompleteSuggestions {
    z-index: 3000;
    position: relative;
    height: 2em;
    width: 100%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.autocomplete-items {
    z-index: 3000;
    left: 0;
    right: 0;
    padding: 0px;
    margin: 0px;
    font-size: 2.2rem;
    color: rgb(20, 20, 20);
    background-color: #b9c1c3;
    border: 2px solid black;
}

.autocomplete-itemsEven {
    background-color: #d4d4d4;
}

.autocomplete-items:hover {
    background-color: #e9e9e9;
}

.autocomplete-items div {
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.userStateIndicator {
    z-index: 4000;
    pointer-events: none;
    height: 2em;
    margin: auto;
    margin-top: 0px;
    text-align: left;
    bottom: -2.5rem;
}

.userStateIndicatorNotOk {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    flex-shrink: 1;
    font-size: 2em;
    height: 2em;
    margin: -0.5em;
    padding: 0px;
    left: 1em;
    animation: userIndicatorNotOk 2s infinite;
}

@keyframes userIndicatorNotOk {
    0% {
        filter: invert(0);
    }

    50% {
        filter: invert(1) hue-rotate(100deg);
    }

    100% {
        filter: invert(0);
    }
}

.userStateIndicatorOk {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    flex-shrink: 1;
    font-size: 2em;
    height: 2em;
    margin: -0.5em;
    padding: 0px;
    left: 1em;
    color: rgb(109, 195, 109);
}

.userStateIndicatorOk p11 {
    animation: userStateIndicatorOk1 12s infinite;
    margin: 0px;
    padding: 0px;
}

.userStateIndicatorOk p12 {
    animation: userStateIndicatorOk2 12s infinite;
    margin: 0px;
    padding: 0px;
}

@keyframes userStateIndicatorOk1 {
    0% {
        filter: invert(0.3);
    }

    50% {
        filter: invert(0) hue-rotate(-100deg);
    }

    100% {
        filter: invert(0.3);
    }
}

@keyframes userStateIndicatorOk2 {
    0% {
        filter: invert(0);
    }

    50% {
        filter: invert(0.3) hue-rotate(-100deg);
    }

    100% {
        filter: invert(0);
    }
}

.userStateIndicatorSelect {
    z-index: 4000;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    height: 2em;
    width: fit-content;
    transition: none;
    text-align: center;
    color: black;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    left: 2em;

}

.userStateIndicator p {
    z-index: 4001;
    top: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;
    color: #0ee223;
}

.userStateIndicatorSelect img {
    z-index: 4000;
    flex-direction: row;
    transition: all 1s;
    text-align: center;
    width: 2rem;
    height: 2rem;
    margin: -10px;
    margin: auto;
    opacity: 0.8;
}

.userStateIndicatorSelectimg1 {
    animation: upDown1 1.5s ease 0s infinite;
}

@keyframes upDown1 {
    0% {
        transform: translateY(0px);
    }

    30% {
        transform: translateY(3rem);
    }

    100% {
        transform: translateY(0px);
    }
}

.userStateIndicatorSelectimg2 {
    animation: upDown2 1.5s linear 0.25s infinite;
}

@keyframes upDown2 {
    0% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(2.9rem);
    }

    100% {
        transform: translateY(0px);
    }
}

.userStateIndicatorSelectimg3 {
    animation: upDown3 1.5s ease 0.75s infinite;
}

@keyframes upDown3 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(3.3rem);
    }

    100% {
        transform: translateY(0px);
    }
}

.userStateIndicatorSelectimg4 {
    animation: upDown4 1.5s linear 1s infinite;
}

@keyframes upDown4 {
    0% {
        transform: translateY(0px);
    }

    70% {
        transform: translateY(3rem);
    }

    100% {
        transform: translateY(0px);
    }
}


.items {
    margin: 0 auto;
    width: 100%;
    /* height: 60%; */
    margin-top: 0px;
    margin-bottom: 0px;
    transition: background-color 0.8s ease;
    /* border: 2px solid orange; */
    overflow-y: auto;
    overflow-x: hidden;
    clear: both;
    flex-shrink: 2;
}

.item {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    background-color: #61584b81;
    border: 4px outset rgb(240, 152, 0);
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    padding: 0.2rem;
    padding-bottom: 0px;
    transition: background-color 0.5s ease;
    border-radius: 5%;
    resize: both;
}

.item img {
    user-select: none;
    pointer-events: none;
    top: 0px;
    padding: 0px;
    margin: 0px;
    height: 5rem;
    max-width: 6rem;
    clear: both;
}

.item:active {
    border: 4px inset rgb(240, 152, 0);
    background-color: rgb(240, 152, 0, 0.6);
    transition: none;
    user-select: none;
}

.item p {
    padding: 0px;
    margin: 0px;
    font-size: 1.7rem;
    padding-right: 1rem;
    color: #deb911;
    text-shadow: 1px 1px 1px #000000;
    user-select: none;
    pointer-events: none;
}

.p2 {
    text-align: left;
}

.itemCount {
    z-index: 500;
}

.itemCount {
    z-index: 5500;
    width: auto;
    height: 100%;
    display: block;
    transition: 1s;
    position: absolute;
    margin: auto;
    top: 0px;
    left: 20%;
    bottom: 50%;
    /* right: 7%; */
    font-size: 6rem;
    color: rgb(0, 255, 55);
    font-style: oblique;
    text-shadow: 5px 7px 7px #000000, 3px 3px 0px black, 1px 2px 0px black;
    pointer-events: none;
    user-select: none;
}

.itemNotActive {
    display: none;
}

/* @media screen and (max-height: 700px),
(max-width: 500px) {
    .item {
        border: 2px outset rgb(240, 152, 0);
    }

    .item p {
        font-size: 1.2rem;
    }

    .item img {        
        max-height: 4rem;
    }

    .searchBox {
        height: fit-content;
        width: 100%;
        font-size: 1.5rem;
        padding: 0.2rem;
    }
} */

/* ------------------scrollbar--------------------- */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background-color: rgba(64, 64, 64, 0.875);
    border-radius: 50%;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 132, 0, 0.591);
    border-radius: 2px;
    background-clip: padding-box;
}

/* ------------------scrollbar--------------------- */

.break {
    /* flex-basis: 100%; */
    height: 0;
}

.buttons {
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    bottom: 0px;
    left: -50%;
    right: -50%;
    text-align: center;
    /* border: 5px solid orange; */
}

.buttons button {
    margin: auto;
    min-width: 0px;
    min-height: 0px;
    width: 100%;
    height: fit-content;
    color: black;
    font-size: 2rem;
    padding: 0rem 1rem 0rem 1rem;
    text-shadow: 5px 1px 10px #a49c9c;
    border: 3px outset rgba(230, 145, 9, 0.495);
}

.buttons button:active {
    border: 3px inset grey;
}

#cancel {
    background-color: red;
}

#placeOrder {
    background-color: green;
}

.pointerNone {
    pointer-events: none;
}

.pointerAll {
    pointer-events: all;
}

.messageBox {
    display: none;
    z-index: 2500;
    position: absolute;
    height: fit-content;
    width: 80%;
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.96);
    border: 2px groove orange;
    margin: auto;
    top: 10%;
    right: 10%;
    left: 10%;
    text-align: center;
}

.messageBox p1 {
    color: whitesmoke;
    font-size: 1rem;
}

.messageBox p2 {
    color: whitesmoke;
    font-size: 1.2rem;
}

.messageBox p3 {
    font-size: xx-large;
    color: orange;
}

.messageBox p4 {
    font-size: 3rem;
    color: orangered;
}

.messageBox p5 {
    font-size: xx-large;
    max-width: 1rem;
    color: rgb(255, 0, 255);
}

.messageBoxOn {
    display: block;
}

.confirmButtons {
    z-index: 3000;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 4rem;
    color: black;
    border: 3px outset orange;
    font-size: 250%;
}

.confirmButtons:active {
    border: 3px inset orange;
}

.confirmButtonsYes {
    padding-right: 2rem;
    margin-top: 1rem;
    background-color: greenyellow;
}

.confirmButtonsNo {
    padding-right: 2rem;
    margin-top: 0.45em;
    margin-bottom: 1em;
    background-color: red;
}

.errorMessage {
    z-index: -10;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.716);
    border: 2px solid rgb(12, 81, 146);
    color: rgb(27, 188, 185);
    font-size: x-large;
    width: fit-content;
    right: 55%;
}

.errorMessageOn {
    z-index: 2500;
    display: block;
    pointer-events: none;
}

.finaleMessageBox {
    /* display: none; */
    z-index: 2500;
    position: absolute;
    height: fit-content;
    width: 70%;
    background-color: rgba(46, 44, 39, 0.855);
    border: 2px groove orange;
    border-radius: 2rem;
    margin: auto;
    top: 25%;
    right: 15%;
    left: 15%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: confirmAnim1 1s ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.finaleMessageBoxText {
    color: rgb(201, 138, 3);
    font-size: 2.6rem;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

@keyframes confirmAnim1 {
    0% {
        opacity: 100;
        transform: scale(1);
    }

    50% {
        opacity: 70;
        transform: scale(0.5);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}