html,
body {
    height: 98%;
    width: 98%;
    height: -webkit-fill-available;
    margin: auto;
}
html,
body,
.content {
    overscroll-behavior: contain;
    background-color: rgb(221, 233, 251, 0);
    direction: rtl;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;    
    user-select: none;
    scroll-behavior: smooth;    
}
body {
    display: flex;
    flex-direction: column;
    /* flex-shrink: 1;
    flex-grow: 1; */
}
img{
    width: 7em;
    max-height: 7rem;
    padding: 0px;
    margin: 0px;
}
video{
    width: 100%;
    height: 100%;
}
.content {
    z-index: 5;
    height: 100vh;
    width: 98%;
    left: 1%;
    right: 1%;    
    background-image: none;
    background-color: RGBA(0,0,0,0);
    margin: auto; 
    display: flex;
    flex-direction: column;    
    max-width: 800px;    
    transition: background-color 0.8s ease;
}
@media only screen and (orientation:landscape) and (hover: none) and (pointer: coarse){
    .html{
        height: 98%;
        width: 98%;
        top: 0px;
        margin-top: 0px;
        padding-top: 0px;
    }
    .body{
        height: 98vh;
        width: 98vw;
        top: 0px;
        margin-top: 0px;
        padding-top: 0px;
    }
    .content {
        height: 100vh;
        width: 100vw;
        top: 0px;
        margin-top: 0px;
        padding-top: 0px;     
        margin: auto;
    }
}
.header{
    display: flex;
    text-align: center;
    right: 0px;
    margin: auto;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 2em;
    padding-bottom: 0.2em;
    border-radius: 1em;
    background-size: 250% auto;  
}
.shadow1{
    text-shadow: 3px 1px 2px rgba(163, 130, 69, 0.616);
}
.header p{
    border-radius: 2rem;
    color: rgba(225, 170, 68, 0.896);
    font-size: 2.2rem;
    line-height: 0.4rem;
    margin: 0px;
    margin-bottom: 0.2rem;
    padding: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
}
.animColor1{
    background-image: linear-gradient(to right,rgba(0,0,0,0), rgba(0,0,0,0));
    background-color: transparent;
    background-size: 0px;
    animation: anim1Color1 64s ease infinite running;
}
@keyframes anim1Color1 {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
.animColor2{
    background-image: none;
    background-color: transparent;
    background-size: 0px;
    animation: anim1Color1 64s ease infinite running;
}
@keyframes anim2Color2 {
    0% {
        filter: hue-rotate(180deg);
    }
    100% {
        filter: hue-rotate(179deg);
    }
}
.menu{
    z-index: 3000;
    top: 0px;
    right:0px;
    margin: 0px;
    width: auto;
    padding: 0px;
    float: right;
    position: relative;
}
.searchBoxDiv{
    margin: auto;
    width: 100%;
    margin-top: 0.1em;
    height: 4rem;
    margin-bottom: 3rem;
    align-items: center;
    text-align: center;
}
.searchBox {
    color: rgb(240, 231, 220);
    border-radius: 25px;
    border: 3px double orange;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    width: 90%;
    font-size: 1.4em;       
    margin: auto;    
    padding-top: 0;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    user-select: none;
}
.searchBoxLogged{
    /* font-size: 1.3em; */
    border-color: green;
    transition: all 0.2s;
}
.searchBoxNotLogged{    
    border-color: orange;
}
.autoCompleteNone{
    display: none;
    height: 0;
}
.autoCompleteSuggestions {
    z-index: 3000;
    position: relative;
    height: 2em;
    width: 100%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
input {
    color: rgb(240, 231, 220);
    border-radius: 1rem;
    padding: 1px;
}
input[type=text] {
    width: 50%;
}
.autocomplete-items {
    z-index: 3000;    
    left: 0;
    right:0;
    padding: 0px;
    margin: 0px;
    font-size: 1.8rem;
    color: rgb(20, 20, 20);
    background-color: #b9c1c3;
    border: 2px solid black;
}
.autocomplete-itemsEven{
    background-color: #d4d4d4;
}
.autocomplete-items:hover {    
    background-color: #e9e9e9;
}
.autocomplete-items div {
    /* padding: 10px; */
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}  
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}  
.userStateIndicator {
    z-index: 4000;
    pointer-events: none;
    height: 2em;    
    margin: auto;
    margin-top: 0px;
    text-align: left;    
    bottom: -2.5rem;    
}
.userStateIndicatorNotOk {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    flex-shrink: 1;
    font-size: 2em;
    height: 2em;
    /* margin: auto; */
    margin: -0.5em;
    padding: 0px;
    left: 1em;
    animation: userIndicatorNotOk 2s infinite;
    /* transition: all 1s; */
}
@keyframes userIndicatorNotOk {
    0% {
        filter: invert(0);
    }
    50% {        
        filter: invert(1) hue-rotate(100deg);        
    }
    100% {        
        filter: invert(0);
    }
}
.userStateIndicatorOk {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    flex-shrink: 1;
    font-size: 2em;
    height: 2em;
    /* margin: auto; */
    margin: -0.5em;
    padding: 0px;
    left: 1em;
    color: rgb(109, 195, 109);    
}
.userStateIndicatorOk p11{
    animation: userStateIndicatorOk1 12s infinite;
    margin: 0px;
    padding: 0px;
}
.userStateIndicatorOk p12{
    animation: userStateIndicatorOk2 12s infinite;
    margin: 0px;
    padding: 0px;
}
@keyframes userStateIndicatorOk1 {
    0% {
        filter: invert(0.3);
    }
    50% {        
        filter: invert(0) hue-rotate(-100deg);        
    }
    100% {        
        filter: invert(0.3);
    }
}
@keyframes userStateIndicatorOk2 {
    0% {
        filter: invert(0);
    }
    50% {        
        filter: invert(0.3) hue-rotate(-100deg);        
    }
    100% {        
        filter: invert(0);
    }
}
.userStateIndicatorSelect {
    z-index: 4000;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    height: 2em;
    width: fit-content;
    transition: none;
    text-align: center;
    color: black;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;    
    left: 2em;
    
}
.userStateIndicator p{
    z-index: 4001;
    top: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;        
    color: #0ee223;
}
.userStateIndicatorSelect img{
    z-index: 4000;
    flex-direction: row;
    transition: all 1s;
    text-align: center;    
    width: 2rem;
    height: 2rem;
    margin: -10px;
    margin: auto;
    opacity: 0.8;
}
.userStateIndicatorSelectimg1{
    animation: upDown1 1.5s ease 0s infinite;
}
@keyframes upDown1 {
    0% {   
        transform: translateY(0px);
    }
    30% {
        transform: translateY(3rem);
    }    
    100% {
        transform: translateY(0px);
    }
}
.userStateIndicatorSelectimg2{
    animation: upDown2 1.5s linear 0.25s infinite;
}
@keyframes upDown2 {
    0% {   
        transform: translateY(0px);
    }
    40% {
        transform: translateY(2.9rem);
    }    
    100% {
        transform: translateY(0px);
    }
}
.userStateIndicatorSelectimg3{
    animation: upDown3 1.5s ease 0.75s infinite;
}
@keyframes upDown3 {
    0% {   
        transform: translateY(0px);
    }
    50% {
        transform: translateY(3.3rem);
    }    
    100% {
        transform: translateY(0px);
    }
}
.userStateIndicatorSelectimg4{
    animation: upDown4 1.5s linear 1s infinite;
}
@keyframes upDown4 {
    0% {   
        transform: translateY(0px);
    }
    70% {
        transform: translateY(3rem);
    }    
    100% {
        transform: translateY(0px);
    }
}
#emptyMenu{
    color: red;        
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    font-size: 16px;
    padding: 6px 5px 6px 10px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    /* width: fit-content;     */
    /* position: relative; */
    /* top: 0px; */
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;        
    transition: background-color 0.8s ease; 
}
.item{
    z-index: 1;
    /* height: 25%; */
    /* min-height: 80%; */
    /* width: fit-content; */
    /* min-width: 10%; */
    border: 4px outset rgb(240, 152, 0);
    position: relative;
    margin: auto;
    margin-top: 0.5em;
    text-align: center;
    padding: 0px;
    transition: background-color 0.5s ease;
}
.item img{
    user-select: none;
    pointer-events: none;
    /* width: 50%; */
    /* height: 60%; */
}
.item:active{
    border: 4px inset rgb(240, 152, 0);
    background-color: rgb(240, 152, 0,0.6);
    transition: none;
    user-select: none;
}
.item p{
    padding: 0.2em;
    margin: 0px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 1px #9d7727b3;
    background-color: rgb(205, 132, 5);
    user-select: none;
    pointer-events: none;
}
.item count{
    z-index: 500;
    width: auto;
    height: 100%;
    display: block;
    transition: 1s;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    bottom: 30%;
    right: 7%;
    font-size: 7rem;
    color: rgb(0, 255, 55);
    font-style: oblique;
    text-shadow: 5px 7px 7px #000000,3px 3px 0px black,1px 2px 0px black;
    pointer-events: none;
    user-select: none;
}
.itemNotActive{
    display: none;
}
.break {
    flex-basis: 100%;
    height: 0;
  }
.buttons{    
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4em;    
    margin: auto;
    margin-top: 2em;
    text-align:center;
}
.buttons button{
    margin: auto;    
    width: 100%;
    height: 100%;
    color: black;
    font-size: 2rem;
    text-shadow: 5px 1px 10px #a49c9c;
    border: 3px outset rgba(230, 145, 9, 0.495);
}
.buttons button:active{
    border: 3px inset grey;
}
#cancel {
    background-color: red;
    margin-left: 2rem;
    width: 80%;
}
#placeOrder {
    background-color: green;
}
.pointerNone{
    pointer-events: none;
}
.pointerAll{
    pointer-events:all;
}
.messageBox{
    display: none;
    z-index: 2500;
    position: absolute;
    height: fit-content;
    width: 80%;
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.96);
    border: 2px groove orange;
    margin: auto;
    top:10%;
    right: 10%;
    left: 10%;    
    text-align: center;
}
.messageBox p1{
    color: whitesmoke;
    font-size: 1rem;
}
.messageBox p2{    
    color: whitesmoke;
    font-size: 1.2rem;
}
.messageBox p3{    
    font-size: xx-large;
    color: orange;
}
.messageBox p4{    
    font-size: 3rem;
    color: orangered;
}
.messageBox p5{
    font-size: xx-large;
    max-width: 1rem;
    color: rgb(255, 0, 255);
}
.messageBoxOn{
    display:block;
}
.confirmButtons{
    z-index: 3000;
    position: relative;
    width: 100%;
    height: 4rem;
    color: black;
    border: 3px outset orange;
    font-size: x-large;
}
.confirmButtons:active{
    border: 3px inset orange;
}
.confirmButtonsYes{
    margin-top: 1rem;
    background-color: greenyellow;
}
.confirmButtonsNo{
    margin-top: 0.45em;
    margin-bottom: 1em;
    background-color: red;
}
.errorMessage{
    z-index: -10;
    display: none;    
    position: absolute;    
    background-color: black;
    border: 2px solid red;
    color: red;
    font-size: x-large;
    width: fit-content;    
    right: 55%;
}
.errorMessageOn{
    z-index: 2500;
    display: block;
    pointer-events: none;
}
.finaleMessageBox{
    /* display: none; */
    z-index: 2500;
    position: absolute;
    height: fit-content;
    width: 70%;    
    background-color: rgba(43, 40, 40, 0.236);
    border: 2px groove orange;
    border-radius: 2rem;
    margin: auto;
    top:25%;
    right: 15%;
    left: 15%;    
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: confirmAnim1 1s ease 2s; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.finaleMessageBoxText{
    color: rgb(201, 138, 3);
    font-size: 2.4rem;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
@keyframes confirmAnim1 {
    0% {
        opacity: 100;
        transform: scale(1);        
    }
    50% {
        opacity: 70;
        transform: scale(0.5);        
    }
    100% {
        opacity: 0;
        transform: scale(0);        
    }    
}
.userInfo{
    /* display: none; */
    z-index: 4500;
    position: absolute;
    max-height: 90%;
    height: 95%;
    width: 90%;
    top: 5%;
    left: 5%;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(0, 0, 0);
    border: 2px groove orange;
    border-radius: 3rem;
    margin: auto;
    text-align: right;
}
.userInfoText{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    margin-right: 7%;
    color: rgb(201, 138, 3);    
}
.userInfoChangeNick{
    display: none;
    background-color: whitesmoke;
    width: 80%;
    color: grey;
    font-size: 2em;    
    height: 1em;
}
.userInfoCloseButton{
    text-align: left;
    float: left;
    width: 2rem;
    margin: auto;
    padding-top: 0px;
    padding-left: 2%;
    color: red;
    font-size: xx-large;
}
.userInfoTableDiv{
    position: relative;
    max-height: 70%;
    width: 95%;
    top: 0px;
    height: auto;    
    border-radius: 5px;
    margin: auto;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: right;
    overflow:auto;
}
.userInfoTable{
    width: 95%;
    border: 0px;
    margin: auto;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    font-size: 100%;
    background-color: lightskyblue;
}
.deleteOrderButton{
    width: 50%;
    height: 100%;
    max-height: 2rem;
    margin: auto;
    text-align: center;
    color: black;
    background-color: red;
    border: 3px outset grey;
}
.deleteOrderButton:active{
    border: 3px inset grey;
}
.userInfoOrderDeleteConfirm{
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.deleteOrderConfirm{
    margin: auto;
    text-align: center;
    color: black;
    height: 3rem;
    background-color: red;
    border: 3px outset grey;
}
.deleteOrderConfirm:active{
    border: 3px inset grey;
}
.deleteOrderConfirmYes{
    background-color: red;
}
.deleteOrderConfirmNo{
    background-color: green;
}
.footer{
    max-width: 800px;
    z-index: -1;
    color: black;
    flex: 1;    
    text-align: center;
    font-size: x-small;    
    width: 100%;
    border-radius: 2em;
    bottom: 1em;
    margin: auto;
    background-image: linear-gradient(to right, rgba(0,0,0,0) , rgb(2, 140, 246, 0.526), rgba(2, 140, 246, 0.526),rgba(0,0,0,0));
}
.footer P{
    height: fit-content;
    padding: 0px;
    margin: 0px;
    line-height: 100%;
}
@media only screen and (orientation:landscape) and (hover: none) and (pointer: coarse){
    .header{
        top: 0px;
        padding-top: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .header p{
        font-size: 1.8rem;
        line-height: 0.4rem;
    }
    .userStateIndicator{
        position: relative;        
    }
    .items{
        flex-direction: row;
        margin: auto;
        padding: 4px;
        width: fit-content;
    }
    .item{
        font-size: small;
        width: fit-content;        
        margin: 0px;
        margin-right: 1em;
        min-width: 0%;
    }
    .break {
        flex-basis: auto;
        height: 0;
      }
    .buttons{
        display: flex;
        flex-direction: column-reverse;
        width: fit-content;                
        margin: auto;
        /* margin-bottom: 50vh; */
        /* margin-right: 80vw; */
        /* height: 4em;         */
    }
    .footer{
        width: 100%;
        position: static;        
        padding-bottom: 0px;
        margin: auto;
        margin-bottom: 10px;
    }
    .footer p{        
        margin: auto;
        bottom: 0px;
    }
    .messageBox {
        height: fit-content;
        width: fit-content;
        top: 5%;
        right: 5%;
        text-align: right;
        margin: 0px;
        padding-top: 0.5rem;
        padding-right: 2rem;
        padding-left: 1rem;
        padding-bottom: 0.2rem;
        border: 5px groove orange;
    }
    .confirmButtons{
        width:fit-content;
        min-width: 6em;
        height: 5rem;
        padding: 0px;
        margin: 0px;
    }
    .confirmButtonsYes{
        margin: 0px;
        margin-top: 2em;
        position: fixed;
        padding: 0px;
        bottom: 5%;
        left: 5%;
    }
    .confirmButtonsNo{
        margin: 0px;
        margin-bottom: 2em;
        position: fixed;
        padding: 0px;
        top: 35%;
        left: 5%;
    }
    .finaleMessageBox{        
        top:10%;
    }
}
.imgFill{
    width: 100%;
    height: 100%;
    size: 100%;
}
.endAnimation{
    opacity: 0;
    z-index: 2500;
    position: fixed;
    margin: auto;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transition: all 1s;
    width: 50px;
    height: 50px;
}
.animation1{
    animation: anim1 2s linear;
}
@keyframes anim1 {
    0% {
        opacity: 0;
        transform: scale(0);        
    }
    50% {
        opacity: 100;
        transform: scale(8);        
    }
    100% {
        opacity: 0;
        transform: scale(22);        
    }    
}
.animation2{
    animation: anim2 1.8s linear;
}
@keyframes anim2 {
    0% {
        opacity: 0;
        transform: scale(12);        
    }
    50% {
        opacity: 100;
        transform: scale(3);        
    }
    100% {
        opacity: 0;
        transform: scale(0);        
    }    
}
.animation3{   
    animation: anim3 2s ease-out;
}
@keyframes anim3 {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 100;
        transform: scale(6);
    }
    100% {
        opacity: 0;
        transform: scale(15);
    }    
}
.animation4{  
    animation: anim4 2s ease-in;
}
@keyframes anim4 {
    0% {
        opacity: 0;
        transform: scale(0);        
    }
    50% {
        opacity: 100;
        transform: scale(7);
    }
    80% {
        opacity: 100;
        transform: scale(10);
    }
    100% {
        opacity: 0;
        transform: scale(0);        
    }    
}
.animation5{  
    animation: anim5 2s ease;
}
@keyframes anim5 {
    0% {
        opacity: 0;
        transform: scale(12);        
    }
    50% {
        opacity: 100;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(15);
    }    
}
.animation6{  
    animation: anim6 2s ease-in-out;
}
@keyframes anim6 {
    0% {
        opacity: 0;
        transform: scale(0);        
    }
    50% {
        opacity: 100;
        transform: scale(4);
    }
    75% {
        opacity: 75;
        transform: scale(12);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
/* demo */
#textbox { 
    position: absolute;
    z-index: 2000;
    top: 0px;
    left: 50%;
    right: 50%;
    color: white;
    width: fit-content;
    height: auto;
    background-color: green;    
    font-size: xx-large;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 2px;    
    border-radius: 2px;
    border: solid 2px;
    transition: 1s;
}
.elementOpen{
    color: rgb(255, 242, 0);
    font-size: xx-large;    
    width: fit-content;
    padding-left: 20px;
    padding-top: 0px;
    position: absolute;
    z-index: 2000;
}
/* .textBackground{

} */
/* The side navigation menu */
.sidenav {
    height: fit-content;
    width: 0;
    position: fixed;
    z-index: 2500;
    top: 0;
    right: 0;
    background-color: rgba(11, 49, 58, 0.86);
    border: 0px solid #97480f;
    border-width: 0px;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    white-space: nowrap;
}  
.sidenav a {
    padding: 8px 32px 18px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #cfcfcf;
    display: block;
    transition: 0.3s;
    word-wrap:unset; 
}  
.sidenav a:hover {
    background-color: #a49c9c;
    color: #ffffff;
}
.sidenav .closebtn {
    position: absolute;
    top: 2%;
    right: 5px;
    font-size: 36px;
    margin-left: 25px;
    padding: 0px;
    color: rgb(255, 242, 0);
}  
#main {
    transition: margin-left .5s;
    padding: 20px;
}
@media only screen and (orientation:landscape) and (hover: none) and (pointer: coarse){
    .sidenav {padding-top: 25px;}
    .sidenav a {font-size: 18px;} 
    .sidenav .closebtn {top: 1px;margin: 0px;padding: 0px;}   
}
#fs_mark{
    background-image: url("../img/fs2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    filter: invert(0.6);
}
#fs_mark:hover{
    filter: invert(0);
}
.opacityOff {
    transition: opacity 1s ease-out;
    opacity: 0;
}
.opacityOn {
    transition: opacity 1s ease;
    opacity: 100;
}
#user_info{
    display: none;
}
.hidden{
    display: none;
}
.block{
    display: block;
}

.backgroundTest{
    z-index: -8;
    width: 100vw;
    height: 100vh;    
    top:0px;
    position: fixed;
    /* background-color: #0ee223; */
    background-image: linear-gradient(red, yellow);
}

/* ----------------------background1-----------------*/
@keyframes move1 {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg) scale(1);
    }
}
.background1 {
    z-index: -10;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;    
    background: #000000;
    overflow: hidden;
}
.background1 span {
    width: 22vmin;
    height: 22vmin;
    border-radius: 22vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move1;
    animation-duration: 41;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.background1 span:nth-child(0) {
    color: #db9a32;
    top: 50%;
    left: 96%;
    animation-duration: 93s;
    animation-delay: -87s;
    transform-origin: 3vw -15vh;
    box-shadow: 40vmin 0 5.183883016882582vmin currentColor;
}
.background1 span:nth-child(1) {
    color: #ddb01c;
    top: 36%;
    left: 53%;
    animation-duration: 97s;
    animation-delay: -51s;
    transform-origin: -9vw 17vh;
    box-shadow: 40vmin 0 5.691683435177346vmin currentColor;
}
.background1 span:nth-child(2) {
    color: #e1b224c0;
    top: 61%;
    left: 88%;
    animation-duration: 86s;
    animation-delay: -39s;
    transform-origin: -17vw 5vh;
    box-shadow: -40vmin 0 5.921600798369472vmin currentColor;
}
.background1 span:nth-child(3) {
    color: #ed2310d3;
    top: 91%;
    left: 68%;
    animation-duration: 61s;
    animation-delay: -70s;
    transform-origin: -13vw -14vh;
    box-shadow: -40vmin 0 5.962044721413497vmin currentColor;
}
.background1 span:nth-child(4) {
    color: #f4a91496;
    top: 18%;
    left: 19%;
    animation-duration: 91s;
    animation-delay: -78s;
    transform-origin: -9vw -9vh;
    box-shadow: -40vmin 0 5.529312920458274vmin currentColor;
}
.background1 span:nth-child(5) {
    color: #ac640b;
    top: 17%;
    left: 55%;
    animation-duration: 90s;
    animation-delay: -66s;
    transform-origin: 16vw 10vh;
    box-shadow: 40vmin 0 5.968933920866371vmin currentColor;
}
.background1 span:nth-child(6) {
    color: #e46910;
    top: 71%;
    left: 90%;
    animation-duration: 104s;
    animation-delay: -37s;
    transform-origin: -1vw -21vh;
    box-shadow: 40vmin 0 5.848451583504677vmin currentColor;
}
.background1 span:nth-child(7) {
    color: #e0b312db;
    top: 79%;
    left: 38%;
    animation-duration: 53s;
    animation-delay: -89s;
    transform-origin: 18vw 21vh;
    box-shadow: -40vmin 0 5.829243410273872vmin currentColor;
}
.background1 span:nth-child(8) {
    color: #696b0b;
    top: 47%;
    left: 69%;
    animation-duration: 86s;
    animation-delay: -58s;
    transform-origin: 25vw -3vh;
    box-shadow: -40vmin 0 5.74342229211393vmin currentColor;
}
.background1 span:nth-child(9) {
    color: #dcbc3ee3;
    top: 73%;
    left: 27%;
    animation-duration: 59s;
    animation-delay: -42s;
    transform-origin: -13vw 12vh;
    box-shadow: 40vmin 0 5.565887697806728vmin currentColor;
}
.background1 span:nth-child(10) {
    color: #a4750f;
    top: 70%;
    left: 41%;
    animation-duration: 46s;
    animation-delay: -49s;
    transform-origin: -2vw -1vh;
    box-shadow: 40vmin 0 5.3164666115362476vmin currentColor;
}
.background1 span:nth-child(11) {
    color: #876612;
    top: 48%;
    left: 25%;
    animation-duration: 82s;
    animation-delay: -39s;
    transform-origin: 16vw -7vh;
    box-shadow: 40vmin 0 5.936470684994058vmin currentColor;
}
.background1 span:nth-child(12) {
    color: #c66011a2;
    top: 21%;
    left: 18%;
    animation-duration: 50s;
    animation-delay: -79s;
    transform-origin: -17vw 6vh;
    box-shadow: -40vmin 0 5.386033358338123vmin currentColor;
}
.background1 span:nth-child(13) {
    color: #808216;
    top: 85%;
    left: 25%;
    animation-duration: 41s;
    animation-delay: -68s;
    transform-origin: 14vw 2vh;
    box-shadow: 40vmin 0 5.715148921962739vmin currentColor;
}
.background1 span:nth-child(14) {
    color: #875b13;
    top: 47%;
    left: 2%;
    animation-duration: 63s;
    animation-delay: -48s;
    transform-origin: 14vw 23vh;
    box-shadow: 40vmin 0 5.11317815404602vmin currentColor;
}
.background1 span:nth-child(15) {
    color: #c9670b;
    top: 47%;
    left: 96%;
    animation-duration: 46s;
    animation-delay: -63s;
    transform-origin: 17vw 9vh;
    box-shadow: -40vmin 0 5.302887582729587vmin currentColor;
}
.background1 span:nth-child(16) {
    color: #e66b13;
    top: 10%;
    left: 4%;
    animation-duration: 83s;
    animation-delay: -84s;
    transform-origin: -4vw 16vh;
    box-shadow: 40vmin 0 5.83245926410138vmin currentColor;
}
.background1 span:nth-child(17) {
    color: #b3800a;
    top: 95%;
    left: 60%;
    animation-duration: 53s;
    animation-delay: -32s;
    transform-origin: -23vw -16vh;
    box-shadow: 40vmin 0 5.220321902225424vmin currentColor;
}
.background1 span:nth-child(18) {
    color: #d5660aaf;
    top: 70%;
    left: 48%;
    animation-duration: 91s;
    animation-delay: -25s;
    transform-origin: 13vw -1vh;
    box-shadow: -40vmin 0 5.941494141343195vmin currentColor;
}
.background1 span:nth-child(19) {
    color: #ed4802;
    top: 59%;
    left: 61%;
    animation-duration: 73s;
    animation-delay: -9s;
    transform-origin: -24vw 14vh;
    box-shadow: 40vmin 0 5.504489691546381vmin currentColor;
}

/* ----------------------background2-----------------*/
@keyframes move2 {
    100% {
        transform: translate3d(0, 0, 2px) rotate(360deg) scale(8);
        opacity: 100;
    }
}
.background2 {
    z-index: -10;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
}
.background2 span {
    width: 2vmin;
    height: 2vmin;
    border-radius: 3vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move2;
    animation-duration: 50;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.background2 span:nth-child(0) {
    color: #97480f;
    top: 93%;
    left: 39%;
    animation-duration: 140s;
    animation-delay: -73s;
    transform-origin: 24vw 24vh;
    box-shadow: -2vmin 0 0.3183560514052415vmin currentColor;
}
.background2 span:nth-child(1) {
    color: #2f4b6f;
    top: 40%;
    left: 95%;
    animation-duration: 120s;
    animation-delay: -48s;
    transform-origin: -2vw 20vh;
    box-shadow: -2vmin 0 1.2006191486592814vmin currentColor;
}
.background2 span:nth-child(2) {
    color: #a5838d;
    top: 60%;
    left: 95%;
    animation-duration: 136s;
    animation-delay: -9s;
    transform-origin: 0vw -14vh;
    box-shadow: -2vmin 0 0.8602021731645801vmin currentColor;
}
.background2 span:nth-child(3) {
    color: #2f4b6f;
    top: 4%;
    left: 62%;
    animation-duration: 122s;
    animation-delay: -10s;
    transform-origin: -12vw -18vh;
    box-shadow: 2vmin 0 0.8621662845894189vmin currentColor;
}
.background2 span:nth-child(4) {
    color: #a5838d;
    top: 7%;
    left: 98%;
    animation-duration: 123s;
    animation-delay: -69s;
    transform-origin: -3vw 9vh;
    box-shadow: -2vmin 0 1.2289647161772919vmin currentColor;
}
.background2 span:nth-child(5) {
    color: #4edfa7;
    top: 70%;
    left: 44%;
    animation-duration: 168s;
    animation-delay: -53s;
    transform-origin: -9vw -23vh;
    box-shadow: 2vmin 0 0.9290906072778984vmin currentColor;
}
.background2 span:nth-child(6) {
    color: #2f4b6f;
    top: 95%;
    left: 41%;
    animation-duration: 131s;
    animation-delay: -129s;
    transform-origin: -13vw -7vh;
    box-shadow: -2vmin 0 1.249516439747623vmin currentColor;
}
.background2 span:nth-child(7) {
    color: #a5838d;
    top: 2%;
    left: 24%;
    animation-duration: 202s;
    animation-delay: -192s;
    transform-origin: 17vw 13vh;
    box-shadow: -2vmin 0 1.0751282857008473vmin currentColor;
}
.background2 span:nth-child(8) {
    color: #4edfa7;
    top: 95%;
    left: 27%;
    animation-duration: 136s;
    animation-delay: -119s;
    transform-origin: -16vw -1vh;
    box-shadow: -2vmin 0 0.5919857086507103vmin currentColor;
}
.background2 span:nth-child(9) {
    color: #2f4b6f;
    top: 25%;
    left: 27%;
    animation-duration: 198s;
    animation-delay: -103s;
    transform-origin: -2vw 20vh;
    box-shadow: -2vmin 0 1.1923745130692736vmin currentColor;
}
.background2 span:nth-child(10) {
    color: #a5838d;
    top: 10%;
    left: 76%;
    animation-duration: 178s;
    animation-delay: -32s;
    transform-origin: 6vw -23vh;
    box-shadow: 2vmin 0 0.45325787958410535vmin currentColor;
}
.background2 span:nth-child(11) {
    color: #4edfa7;
    top: 53%;
    left: 21%;
    animation-duration: 139s;
    animation-delay: -47s;
    transform-origin: -13vw 24vh;
    box-shadow: 2vmin 0 0.9637413568848834vmin currentColor;
}
.background2 span:nth-child(12) {
    color: #4edfa7;
    top: 39%;
    left: 49%;
    animation-duration: 182s;
    animation-delay: -63s;
    transform-origin: 16vw -10vh;
    box-shadow: 2vmin 0 0.38091190537147934vmin currentColor;
}
.background2 span:nth-child(13) {
    color: #4edfa7;
    top: 98%;
    left: 29%;
    animation-duration: 180s;
    animation-delay: -153s;
    transform-origin: 0vw 1vh;
    box-shadow: -2vmin 0 0.3533522968717169vmin currentColor;
}
.background2 span:nth-child(14) {
    color: #a5838d;
    top: 21%;
    left: 2%;
    animation-duration: 24s;
    animation-delay: -123s;
    transform-origin: -19vw 25vh;
    box-shadow: -2vmin 0 0.5347905974589318vmin currentColor;
}
.background2 span:nth-child(15) {
    color: #2f4b6f;
    top: 16%;
    left: 92%;
    animation-duration: 95s;
    animation-delay: -50s;
    transform-origin: 10vw -3vh;
    box-shadow: -2vmin 0 1.1974675871852352vmin currentColor;
}
.background2 span:nth-child(16) {
    color: #a5838d;
    top: 72%;
    left: 63%;
    animation-duration: 99s;
    animation-delay: -109s;
    transform-origin: -17vw -22vh;
    box-shadow: -2vmin 0 0.8206758190278896vmin currentColor;
}
.background2 span:nth-child(17) {
    color: #2f4b6f;
    top: 5%;
    left: 25%;
    animation-duration: 119s;
    animation-delay: -179s;
    transform-origin: -12vw 1vh;
    box-shadow: -2vmin 0 0.6682184525128947vmin currentColor;
}
.background2 span:nth-child(18) {
    color: #a5838d;
    top: 95%;
    left: 52%;
    animation-duration: 162s;
    animation-delay: -142s;
    transform-origin: -21vw 7vh;
    box-shadow: -2vmin 0 1.206035765192542vmin currentColor;
}
.background2 span:nth-child(19) {
    color: #4edfa7;
    top: 76%;
    left: 70%;
    animation-duration: 82s;
    animation-delay: -133s;
    transform-origin: -4vw -13vh;
    box-shadow: -2vmin 0 0.8924378122966397vmin currentColor;
}
.background2 span:nth-child(20) {
    color: #4edfa7;
    top: 36%;
    left: 77%;
    animation-duration: 122s;
    animation-delay: -73s;
    transform-origin: -18vw -4vh;
    box-shadow: -2vmin 0 1.0950039120434392vmin currentColor;
}
.background2 span:nth-child(21) {
    color: #2f4b6f;
    top: 34%;
    left: 50%;
    animation-duration: 142s;
    animation-delay: -113s;
    transform-origin: -17vw 11vh;
    box-shadow: -2vmin 0 0.5272427602575067vmin currentColor;
}
.background2 span:nth-child(22) {
    color: #a5838d;
    top: 55%;
    left: 44%;
    animation-duration: 190s;
    animation-delay: -85s;
    transform-origin: -22vw -9vh;
    box-shadow: -2vmin 0 0.7284876377800977vmin currentColor;
}
.background2 span:nth-child(23) {
    color: #2f4b6f;
    top: 63%;
    left: 10%;
    animation-duration: 189s;
    animation-delay: -27s;
    transform-origin: -20vw -24vh;
    box-shadow: -2vmin 0 0.32219863334805665vmin currentColor;
}
.background2 span:nth-child(24) {
    color: #a5838d;
    top: 63%;
    left: 96%;
    animation-duration: 88s;
    animation-delay: -109s;
    transform-origin: 22vw 8vh;
    box-shadow: -2vmin 0 0.3308111842684547vmin currentColor;
}
.background2 span:nth-child(25) {
    color: #2f4b6f;
    top: 57%;
    left: 53%;
    animation-duration: 109s;
    animation-delay: -19s;
    transform-origin: -11vw -11vh;
    box-shadow: 2vmin 0 0.9422517673391384vmin currentColor;
}
.background2 span:nth-child(26) {
    color: #4edfa7;
    top: 43%;
    left: 32%;
    animation-duration: 202s;
    animation-delay: -118s;
    transform-origin: 11vw -7vh;
    box-shadow: 2vmin 0 0.4679418906217554vmin currentColor;
}
.background2 span:nth-child(27) {
    color: #4edfa7;
    top: 93%;
    left: 84%;
    animation-duration: 128s;
    animation-delay: -149s;
    transform-origin: -15vw 16vh;
    box-shadow: 2vmin 0 0.7090488182339323vmin currentColor;
}
.background2 span:nth-child(28) {
    color: #4edfa7;
    top: 46%;
    left: 50%;
    animation-duration: 107s;
    animation-delay: -135s;
    transform-origin: 23vw -21vh;
    box-shadow: -2vmin 0 1.1650824606816628vmin currentColor;
}
.background2 span:nth-child(29) {
    color: #2f4b6f;
    top: 5%;
    left: 81%;
    animation-duration: 131s;
    animation-delay: -20s;
    transform-origin: -16vw -7vh;
    box-shadow: 2vmin 0 0.29256444971188755vmin currentColor;
}
.background2 span:nth-child(30) {
    color: #a5838d;
    top: 59%;
    left: 60%;
    animation-duration: 113s;
    animation-delay: -47s;
    transform-origin: -21vw -1vh;
    box-shadow: -2vmin 0 0.9353948554214422vmin currentColor;
}
.background2 span:nth-child(31) {
    color: #4edfa7;
    top: 59%;
    left: 81%;
    animation-duration: 124s;
    animation-delay: -40s;
    transform-origin: 20vw 8vh;
    box-shadow: 2vmin 0 0.2836678339096925vmin currentColor;
}
.background2 span:nth-child(32) {
    color: #a5838d;
    top: 44%;
    left: 79%;
    animation-duration: 163s;
    animation-delay: -50s;
    transform-origin: -17vw 10vh;
    box-shadow: -2vmin 0 0.49791129231949394vmin currentColor;
}
.background2 span:nth-child(33) {
    color: #4edfa7;
    top: 67%;
    left: 65%;
    animation-duration: 110s;
    animation-delay: -181s;
    transform-origin: 11vw -20vh;
    box-shadow: -2vmin 0 0.6920152810231948vmin currentColor;
}
.background2 span:nth-child(34) {
    color: #4edfa7;
    top: 38%;
    left: 75%;
    animation-duration: 105s;
    animation-delay: -70s;
    transform-origin: -13vw -1vh;
    box-shadow: 2vmin 0 1.1319005089965388vmin currentColor;
}
.background2 span:nth-child(35) {
    color: #4edfa7;
    top: 35%;
    left: 48%;
    animation-duration: 132s;
    animation-delay: -90s;
    transform-origin: -17vw 25vh;
    box-shadow: 2vmin 0 1.0847269356441072vmin currentColor;
}
.background2 span:nth-child(36) {
    color: #a5838d;
    top: 82%;
    left: 64%;
    animation-duration: 178s;
    animation-delay: -136s;
    transform-origin: -21vw -21vh;
    box-shadow: 2vmin 0 0.738164708513904vmin currentColor;
}
.background2 span:nth-child(37) {
    color: #a5838d;
    top: 87%;
    left: 60%;
    animation-duration: 128s;
    animation-delay: -114s;
    transform-origin: -18vw 11vh;
    box-shadow: -2vmin 0 0.38067659503598006vmin currentColor;
}
.background2 span:nth-child(38) {
    color: #a5838d;
    top: 99%;
    left: 55%;
    animation-duration: 78s;
    animation-delay: -200s;
    transform-origin: -3vw 2vh;
    box-shadow: -2vmin 0 1.0777538092065198vmin currentColor;
}
.background2 span:nth-child(39) {
    color: #a5838d;
    top: 73%;
    left: 74%;
    animation-duration: 146s;
    animation-delay: -88s;
    transform-origin: 8vw 13vh;
    box-shadow: -2vmin 0 0.7645437596772791vmin currentColor;
}
.background2 span:nth-child(40) {
    color: #a5838d;
    top: 49%;
    left: 6%;
    animation-duration: 175s;
    animation-delay: -42s;
    transform-origin: 4vw 10vh;
    box-shadow: 2vmin 0 0.7111877598845371vmin currentColor;
}
.background2 span:nth-child(41) {
    color: #a5838d;
    top: 73%;
    left: 15%;
    animation-duration: 100s;
    animation-delay: -106s;
    transform-origin: -14vw 3vh;
    box-shadow: 2vmin 0 1.033006363346259vmin currentColor;
}
.background2 span:nth-child(42) {
    color: #4edfa7;
    top: 45%;
    left: 33%;
    animation-duration: 139s;
    animation-delay: -157s;
    transform-origin: -18vw 12vh;
    box-shadow: -2vmin 0 1.1594844216283222vmin currentColor;
}
.background2 span:nth-child(43) {
    color: #4edfa7;
    top: 85%;
    left: 91%;
    animation-duration: 128s;
    animation-delay: -110s;
    transform-origin: -3vw -12vh;
    box-shadow: -2vmin 0 0.9025880744945052vmin currentColor;
}
.background2 span:nth-child(44) {
    color: #2f4b6f;
    top: 47%;
    left: 19%;
    animation-duration: 156s;
    animation-delay: -11s;
    transform-origin: -11vw 5vh;
    box-shadow: 2vmin 0 1.0633027569902134vmin currentColor;
}
.background2 span:nth-child(45) {
    color: #4edfa7;
    top: 94%;
    left: 25%;
    animation-duration: 86s;
    animation-delay: -37s;
    transform-origin: 5vw 10vh;
    box-shadow: -2vmin 0 0.9653251843054635vmin currentColor;
}
.background2 span:nth-child(46) {
    color: #a5838d;
    top: 91%;
    left: 93%;
    animation-duration: 144s;
    animation-delay: -110s;
    transform-origin: 21vw 20vh;
    box-shadow: -2vmin 0 0.26778543716304504vmin currentColor;
}
.background2 span:nth-child(47) {
    color: #2f4b6f;
    top: 97%;
    left: 67%;
    animation-duration: 166s;
    animation-delay: -54s;
    transform-origin: -12vw 23vh;
    box-shadow: 2vmin 0 0.33318920642825534vmin currentColor;
}
.background2 span:nth-child(48) {
    color: #4edfa7;
    top: 32%;
    left: 65%;
    animation-duration: 90s;
    animation-delay: -55s;
    transform-origin: 20vw -5vh;
    box-shadow: -2vmin 0 0.409806450330779vmin currentColor;
}
.background2 span:nth-child(49) {
    color: #4edfa7;
    top: 24%;
    left: 68%;
    animation-duration: 58s;
    animation-delay: -198s;
    transform-origin: 24vw -18vh;
    box-shadow: -2vmin 0 0.6792241979452058vmin currentColor;
}

/* ----------------------BACKGROUND3-----------------*/
@keyframes animate3 {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0;
        border-radius: 5%;
        filter: hue-rotate(0deg) saturate(1) blur(0);
    }
    1%{
        transform: translateY(-10px) rotate(5deg);
        opacity: 1;
        border-radius: 5%;
    }
    70%{
        filter: hue-rotate(1deg) saturate(1) blur(4);
    }
    98%{
        transform: translateY(-1100px) rotate(700deg);
        filter: hue-rotate(90deg) saturate(18) blur(12);
        opacity: 0.4;
        border-radius: 50%;
    }
    100%{
        transform: translateY(-1200px) rotate(720deg);
        filter: hue-rotate(40deg) saturate(58) blur(42);
        opacity: 0;
        border-radius: 25%;
    }
}
.background3 {
    z-index: -11;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #000000;
    overflow: hidden;
}
.background3 li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(151, 209, 207, 0.382);
    animation: animate3 40s linear infinite;
}
.background3 li:nth-child(0) {
    left: 44%;
    width: 105px;
    height: 105px;
    bottom: -267px;
    animation-delay: 0s;
}
.background3 li:nth-child(1) {
    left: 74%;
    width: 153px;
    height: 153px;
    bottom: -267px;
    animation-delay: 1s;
}
.background3 li:nth-child(2) {
    left: 11%;
    width: 93px;
    height: 93px;
    bottom: -267px;
    animation-delay: 2s;
}
.background3 li:nth-child(3) {
    left: 77%;
    width: 67px;
    height: 67px;
    bottom: -167px;
    animation-delay: 7s;
}
.background3 li:nth-child(4) {
    left: 1%;
    width: 137px;
    height: 137px;
    bottom: -187px;
    animation-delay: 9s;
}
.background3 li:nth-child(5) {
    left: 14%;
    width: 107px;
    height: 107px;
    bottom: -137px;
    animation-delay: 11s;
}
.background3 li:nth-child(6) {
    left: 58%;
    width: 146px;
    height: 146px;
    bottom: -186px;
    animation-delay: 13s;
}
.background3 li:nth-child(7) {
    left: 24%;
    width: 122px;
    height: 122px;
    bottom: -152px;
    animation-delay: 19s;
}
.background3 li:nth-child(8) {
    left: 28%;
    width: 90px;
    height: 90px;
    bottom: -90px;
    animation-delay: 29s;
}
.background3 li:nth-child(9) {
    left: 57%;
    width: 140px;
    height: 140px;
    bottom: -210px;
    animation-delay: 24s;
}
.background3 li:nth-child(10) {
    left: 0%;
    width: 117px;
    height: 117px;
    bottom: -117px;
    animation-delay: 17s;
}
.background3 li:nth-child(11) {
    left: 57%;
    width: 117px;
    height: 117px;
    bottom: -177px;
    animation-delay: 15s;
}
.background3 li:nth-child(12) {
    left: 44%;
    width: 128px;
    height: 128px;
    bottom: -178px;
    animation-delay: 33s;
}
.background3 li:nth-child(13) {
    left: 88%;
    width: 121px;
    height: 121px;
    bottom: -121px;
    animation-delay: 40s;
}
.background3 li:nth-child(14) {
    left: 72%;
    width: 142px;
    height: 142px;
    bottom: -142px;
    animation-delay: 51s;
}
.background3 li:nth-child(15) {
    left: 62%;
    width: 170px;
    height: 170px;
    bottom: -170px;
    animation-delay: 44s;
}
.background3 li:nth-child(16) {
    left: 12%;
    width: 140px;
    height: 140px;
    bottom: -170px;
    animation-delay: 27s;
}
.background3 li:nth-child(17) {
    left: 82%;
    width: 120px;
    height: 120px;
    bottom: -170px;
    animation-delay: 8s;
}
.background3 li:nth-child(18) {
    left: 92%;
    width: 150px;
    height: 150px;
    bottom: -170px;
    animation-delay: 14s;
}
.background3 li:nth-child(19) {
    left: 2%;
    width: 70px;
    height: 70px;
    bottom: -170px;
    animation-delay: 17s;
}
.background3 li:nth-child(20) {
    left: 52%;
    width: 100px;
    height: 100px;
    bottom: -170px;
    animation-delay: 24s;
}