html {
    overflow-y: scroll;
}
html,
body{
    width: 95vw;
    height: 100vh;
    /* left: 1%; */
    /* right: 1%; */
    background-color: rgb(221, 233, 251);
    direction: rtl;
    user-select: none;
    scroll-behavior: smooth;    
    float: center;
    margin: auto;
    /* overflow:scroll; */
}

p1 {
    margin: 0px;
    padding: 0px;
}

p2 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 1rem;
    font-size: xx-large;
}

.header {
    grid-area: header;
    text-align: center;
    right: 0px;
    margin: 0px;
    padding: 0px;
    padding-top: 1%;
}

.header p {
    color: blue;
    font-size: 2rem;
    line-height: 0.5rem;
    margin: 0px;
    padding: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.nav {
    background-color: green;
    display: flex;
}

.nav-links{
    display: flex;
    flex: 1;
    list-style: none;
    margin: auto;
}

.nav-links button {
    text-decoration: none;
    background-color: green;
    height: fit-content;
    border: none;
}

.nav-link {    
    font-size: 1rem;
    margin-left: 1rem;
    color: yellow;    
}

body {}

.content {
    height: fit-content;
    max-width: 1200px;    
    left: 50%;
    right: 50%;
    display: flex;
    margin: auto;    
}

.column {
    flex-direction: column;
}

.row {
    padding-top: 1%;
    flex-direction: row;
}

.function {}

.function p {
    margin: 0px;
    padding: 0px;
}


.displayProducts{  
    display: flex;
    flex-direction: column;
    flex: 1;
    /* flex-shrink: 100; */
}

.productRow {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-direction: row;
    /* background-color: tomato; */
    justify-content: top;
    height: fit-content;
    margin: 0px;    
    top: 0px;
}

.productRow p {
    align-self: center;
    position: relative;
    width: fit-content;
    max-width: 49%;
    font-size: larger;
    justify-self: center;
    margin: 1rem;
    top: -8px;
}

.productRow input {
    align-self: center;
    position: relative;
    /* width: fit-content; */
    max-width: 49%;
    font-size: larger;
    justify-self: center;
    margin-left: 1rem;
    top: -8px;
}

.productRow img {
    /* flex: auto; */
    height: 2rem;
    width: 2rem;
    margin: 0px;    
    margin-left: 1rem;
}

.productRow priceInput {
    width: 2rem;
}

.searchBoxNoLogged {
    width: 75%;
    height: 2rem;
    border: 3px solid grey;
}

.searchBoxNotOk {
    border: 3px solid red;
}

.searchBoxOk {
    border: 3px solid green;
}

.textbox {
    width: 75%;
    height: 2rem;
}

.textboxShort {
    width: 65%;
    height: 2rem;
}

.textboxNumber {
    width: fit-content;
    height: 2rem;
}

input:valid {
    color: green;
}

input:invalid {
    color: red;
}

.productImage {
    height: 50px;
    width: 50px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.left {
    float: left;
}

.center {
    /* float: center; */
    text-align: center;
}

.tableStyle {
    font-size: x-large;
    color: aqua;
    background-color: rgb(223, 14, 14);
    color: lightblue;
}

.logText {
    margin-top: 1rem;
    margin-bottom: 1rem;
    direction: rtl;
}

button {
    margin: 0.2rem;
    min-height: fit-content;
    min-width: fit-content;
    height: 4rem;
    width: 4rem;
}

.select {
    font-size: 1.5rem;
    margin: 1%;
}

.footer {
    color: black;
    position: sticky;
    text-align: center;
    font-size: x-small;
    /* line-height: 50px; */
    height: 1px;
    bottom: 0px;
    padding: 0px 0px 0px 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    margin: 0px 0px 0px 0px;
    margin-bottom: 3%;
}

.reportTableDiv {
    direction: rtl;
}

.linebreak {
    background-color: green;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.addUser {
    /* margin-top: 2rem; */
}

.autoCompleteNone {
    display: none;
    height: 0;
}

.autoCompleteSuggestions {
    z-index: 3000;
    position: relative;
    /* display: inline-block;  ---  causes down carousele */
    height: 2rem;
    width: auto;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.autocomplete-items {
    z-index: 3000;
    left: 0;
    right: 0;
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    color: rgb(20, 20, 20);
    background-color: #d4d4d4;
    border: 2px solid black;
}

.autocomplete-itemsEven {
    background-color: #9f9d9d;
}

.autocomplete-items:hover {
    background-color: #e9e9e9;
}

.autocomplete-items div {
    /* padding: 10px; */
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}