html,
body,
.grid {
    width: 95%;
    height: 98%;
    left: 1%;
    right: 1%;
    background-color: rgb(221, 233, 251);
    direction: rtl;
    user-select: none;
    scroll-behavior: smooth;
    float: center;
}

body {
    display: flex;
    flex-direction: column;
}

.grid {
    height: 100%;
    background-image: none;
    background-color: RGBA(0,0,0,0);
    max-width: 1200px;
    /* margin: auto; */
    float: center;
    left: 50%;
    right: 50%;
    margin: auto;    
    display: grid;
    grid-template-areas: 
    'header'
    'menu'
    'getName'
    'insertName'
    'deleteName'
    'getDbData'
    'resetDbData'
    'extra'
    'footer'
    ;    
    gap: 10px 10px;    
    transition: background-color 0.8s ease;
}

.header{
    grid-area: header;
    text-align: center;
    right: 0px;
    margin: 0px;
    padding: 0px;
    padding-top: 1%;
}

.header p{
    color: blue;
    font-size: 2rem;
    line-height: 0.5rem;
    margin: 0px;
    padding: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
}

#getName{
    grid-area: getName;
}

#insertName{
    grid-area: insertName;
}

#deleteName{
    grid-area: deleteName;
}

#getDbData{
    grid-area: getDbData;
}

#resetDbData{
    grid-area: resetDbData;
}

.function{

}

.textbox {
    width: 66%;
    height: 2rem;
}

.button {

}

.footer{
    color: black;    
    position: sticky;
    text-align: center;
    font-size: x-small;
    /* line-height: 50px; */
    height: 1px;
    bottom: 0px;    
    padding: 0px 0px 0px 0px;
    padding-bottom: 0px;
    padding-top: 10px;
    margin: 0px 0px 0px 0px;    
    margin-bottom: 3%;
}