:root {
    --bg01: black;
    --bg02: rgba(104, 99, 99, 0.283);
    --bg03: rgba(30, 60, 58, 0.413);

    --text01: rgb(225, 168, 10);
    --text02: rgb(255, 255, 0);
    --text03: rgb(148, 158, 158);
    --textBlack: black;

    --border01: rgb(194, 172, 4);
    --border02: rgb(162, 146, 123);
    --border03: rgb(29, 182, 50);

    --buttonYes: rgb(3, 183, 3);
    --buttonNo: rgb(255, 3, 3);

    --buttonBgYes: rgb(3, 183, 3);
    --buttonBgNo: rgb(255, 0, 0);

    --listItemOdd: #b9c1c3;
    --listItemEven: #d4d4d4;
    --listItemSelected: #699db7;

    --itemPrice: #e68d07;
    --itemCount: rgb(2, 255, 2);
    --itemName: #deb911;

}

/* ------------------scrollbar--------------------- */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background-color: rgba(64, 64, 64, 0.7);
    border-radius: 50%;
    padding-left: 1rem;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 132, 0, 0.591);
    border-radius: 40%;
    background-clip: padding-box;
}

/* ------------------scrollbar--------------------- */


html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    top: 0px;
    height: -webkit-fill-available;
    overflow: hidden;
    overscroll-behavior: contain;
    direction: rtl;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
    white-space: nowrap;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg01);
}

p {
    margin: 0px;
    padding: 0px;
}

.menu {
    z-index: 40;
    top: 0px;
    right: 0px;
    margin: 0px;
    width: auto;
    padding: 0px;
    float: right;
    position: relative;
}

#emptyMenu {
    color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    font-size: 16px;
    padding: 6px 5px 6px 10px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    /* flex-basis: 100%; */
    flex: 1;
}

.openSideMenu {
    color: var(--text02);
    width: 15%;
    right: 0px;
    bottom: 30%;
    padding-left: 10px;
    position: absolute;
    z-index: 30;
}

.openSideMenu img {
    width: 55%;
    height: 55%;
    filter: invert(0.6);
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.opacityOff {
    transition: opacity 1s ease-out;
    opacity: 0;
}

.opacityOn {
    transition: opacity 1s ease;
    opacity: 100;
}

#user_info {
    display: none;
}

.hidden {
    display: none;
    transition: all 1s;
}

.block {
    display: block;
}

.green {
    color: green;
}

.aboutWindow {
    z-index: 80;
    position: absolute;
}

.window {
    display: block;
    opacity: 1;
}

.floatMenuDiv {
    position: absolute;
    height: fit-content;
    width: fit-content;
    z-index: 40;
    bottom: 50%;
    left: 1%;
    border-radius: 50%;
    border: 1px outset var(--border02);
    transition: 0.5s;
    background-color: #1b61b1;
}

.floatMenuDiv:active {
    border: 1px inset var(--border02);

}

.floatMenuDiv p {
    z-index: 40;
    color: var(--text03);
    font-size: 1.6rem;
    margin: auto;
    padding: 0.6rem;
    color: yellow;
}

.floatMenuDiv a {
    z-index: 40;
    color: var(--text03);
    text-decoration: none;
    padding: 8px 32px 18px 8px;
    text-decoration: none;
    font-size: 100%;
    text-align: center;
    margin: auto;
    display: block;
    transition: 0.3s;
    border-radius: 50%;
}

.floatMenuDiv a:hover {
    border-radius: 50%;
    z-index: 40;
    background-color: var(--bg02);
    color: var(--text02);
}

.messageWindow {
    z-index: 100;
    position: absolute;
    max-height: 20%;
    height: fit-content;
    max-width: 95%;
    width: 95%;
    top: 30%;
    padding: 5px 5px 5px 5px;
    background-color: var(--bg01);
    border: 2px groove var(--border01);
    border-radius: 3rem;
    margin: auto;
}

.messageWindow p {
    color: var(--text01);
    text-align: center;
    font-size: larger;
}

.messageWindow .bottom {
    top: 10%;
}

.messageWindow .mid {
    top: 50%;
}

.messageWindow .top {
    top: 10%;
}

.messageWindow .green {
    color: green;
}

.messageWindow .red {
    color: red;
}

.messageWindow .big {
    font-size: x-large;
}

.closeButton {
    width: fit-content;
    margin: auto;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding: 0.4rem;
    color: rgba(255, 166, 0, 0.93);
    font-size: 150%;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(245, 91, 14);
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
    float: center;
    margin: auto;
}

.divFullPage {
    /* background-color: green; */
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.divAbout {
    display: block;
    z-index: 100;
    position: absolute;
    overflow-wrap: break-word;
    top: 25%;
    left: 0%;
    right: 0%;
    width: fit-content;
    margin: auto;
    background-color: var(--bg01);
    border: 2px solid var(--border01);
    border-radius: 15%;
    padding: 5%;
    color: var(--text03);
    font-size: 1.6rem;
}

.divAbout p {
    right: 50%;
}

.divAboutClose {
    display: hidden;
}

.windowConstant {
    opacity: 1;
}

.messageBoardWindow {
    z-index: 80;
    position: absolute;
    display: inline-block;
    top: 5%;
    left: 5%;
    right: 5%;
    width: 85%;
    max-width: 650px;
    height: 92%;
    margin: auto;
    background-color: var(--bg01);
    border: 1px solid var(--border02);
    padding: 1rem;
    padding-top: 0.2rem;
    color: var(--text03);
}

.mBoardHeader {
    top: 0.1rem;
    margin-bottom: 0.5rem;
    color: var(--listItemSelected);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2.4rem;
    border: 1px groove rgb(3, 117, 143);
}

.postInputDiv {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5%;
    width: 95%;
}

.postInputTypes {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    bottom: 0.5rem;
    width: 80%;
}

.mboardButton {
    position: relative;
    width: fit-content;
    height: 2rem;
    font-size: 1.5rem;
    color: black;
    left: 0px;
    margin: auto;
    margin-left: 0px;
    float: center;
    text-align: center;
    justify-content: center;
    background-color: var(--buttonYes);
    border: 1px outset grey;
}

.mboardButtonError {
    display: none;
    position: relative;
    width: fit-content;
    height: 2rem;
    font-size: 1.5rem;
    color: black;
    left: 0px;
    margin: auto;
    margin-left: 0px;
    float: center;
    text-align: center;
    justify-content: center;
    background-color: var(--buttonNo);
    border: 1px outset grey;
}

#imageAddButton {
    background-color: rgb(6, 101, 130);
    right: 0px;
    margin: auto;
    margin-right: 0px;
}

#imageRemoveButton {
    background-color: rgb(6, 101, 130);
    right: 0px;
    margin: auto;
    margin-right: 0px;
}

.mboardButton:active {
    border: 1px inset grey;
}

.postImgPreview {

    max-width: 5rem;
    max-height: 3rem;
}

.uploadImg {
    display: flex;
    height: fit-content;

}

.messageBoardBottom {
    position: absolute;
    display: none;
    margin: auto;
    text-align: center;
    bottom: 0.2rem;
    color: var(--itemPrice);
}

.postInput {
    resize: none;
    width: 90%;
    height: 3rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3%;
    padding: 10px;
    background-color: #1e44578c;
    font-size: 1.2rem;
    color: var(--itemPrice);
    overflow: hidden;
}

.posts {
    height: 75%;
    width: 95%;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 1%;
    right: 0.2rem;
    transition: background-color 0.8s ease;
    overflow-y: auto;
    overflow-x: hidden;
    clear: both;
    padding: 1rem;
    font-size: 2rem;
    word-wrap: break-word;
    scroll-behavior: smooth;
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
}

.postDisplay {
    color: #deb911;
    border: 1px dotted rgb(6, 143, 129);
    border-radius: 2%;
    display: flex;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 0.2rem;
    width: fit-content;
    max-width: 95%;
    padding-right: 1%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
}

.postDisplayImg {
    max-width: 80%;
    max-height: 90%;
    margin-bottom: 0px;
    padding: 1.2rem;
    padding-bottom: 0px;
    border: 1px dotted blue;
}

.postDisplayImg img {
    max-width: 100%;
    max-height: 100%;
}

.postDisplay p {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.oddPost {
    background-color: #122c34b3;
}

.evenPost {
    background-color: #103b4fc1;
}

.progressBarDiv {
    width: 80%;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    /* position: absolute; */
}

.progressBar {
    background-color: green;
    height: 10px;
    width: 0px;
}

.header {
    display: flex;
    text-align: center;
    right: 0px;
    margin: auto;
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
    padding: 0px;
    padding-bottom: 0px;
    border-radius: 1em;
}

.shadow1 {
    text-shadow: 3px 1px 2px rgba(163, 130, 69, 0.616);
}

.header p {
    border-radius: 2rem;
    color: rgba(225, 170, 68, 0.896);
    font-size: 2.2rem;
    line-height: 0.4rem;
    margin: 0px;
    margin-bottom: 0.2rem;
    padding: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.animColor1 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-color: transparent;
    background-size: 0px;
    animation: anim1Color1 64s ease infinite running;
}

@keyframes anim1Color1 {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.animColor2 {
    background-image: none;
    background-color: transparent;
    background-size: 0px;
    animation: anim1Color1 64s ease infinite running;
}

@keyframes anim2Color2 {
    0% {
        filter: hue-rotate(180deg);
    }

    100% {
        filter: hue-rotate(179deg);
    }
}