:root {
    --bg01: black;
    --bg02: rgba(104, 99, 99, 0.283);
    --bg03: rgba(1, 30, 40, 0.093);

    --text01: rgb(225, 168, 10);
    --text02: rgb(255, 255, 0);
    --text03: rgb(148, 158, 158);
    --textBlack: black;

    --border01: rgba(194, 172, 4, 0.353);
    --border02: rgb(162, 146, 123);
    --border03: rgb(29, 182, 50);

    --buttonYes: rgb(3, 183, 3);
    --buttonNo: rgb(255, 116, 3);

    --buttonBgYes: rgb(3, 183, 3);
    --buttonBgNo: rgb(255, 94, 0);

    --listItemOdd: #b9c1c3;
    --listItemEven: #d4d4d4;
    --listItemSelected: #699db7;

    --itemPrice: #19e607;
    --itemCount: rgb(2, 255, 2);
    --itemName: #ffd000;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:blur,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgba(18, 13, 13, 0) inset !important;
}

/* ------------------scrollbar--------------------- */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background-color: rgba(64, 64, 64, 0.7);
    border-radius: 50%;
    padding-left: 1rem;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 132, 0, 0.591);
    border-radius: 40%;
    background-clip: padding-box;
}

/* ------------------scrollbar--------------------- */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    top: 0px;
    height: -webkit-fill-available;
    overflow: hidden;
    overscroll-behavior: contain;
    direction: rtl;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
    /* white-space: nowrap; */
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg01);
}

p {
    margin: 0px;
    padding: 0px;
}

.menu {
    z-index: 40;
    top: 0px;
    right: 0px;
    margin: 0px;
    width: auto;
    padding: 0px;
    float: right;
    position: relative;
}

#emptyMenu {
    color: red;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    font-size: 16px;
    padding: 6px 5px 6px 10px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    /* flex-basis: 100%; */
    flex: 1;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.opacityOff {
    transition: opacity 1s ease-out;
    opacity: 0;
}

.opacityOn {
    transition: opacity 1s ease;
    opacity: 100;
}

#user_info {
    display: none;
}

.hidden {
    display: none;
    transition: all 1s;
}

.block {
    display: block;
}

.green {
    color: green;
}

.aboutWindow {
    z-index: 80;
    position: absolute;
}

.window {
    display: block;
    opacity: 1;
}

.floatMenuDiv {
    position: absolute;
    height: fit-content;
    width: fit-content;
    max-width: 7rem;
    z-index: 40;
    bottom: 40%;
    left: 1%;
    border-radius: 50%;
    border: 1px outset var(--border02);
    transition: 0.5s;
    background-color: #00629788;
}

.floatMenuDiv:active {
    border: 1px inset var(--border02);

}

.floatMenuDiv p {
    z-index: 40;
    color: var(--text03);
    font-size: 1.2rem;
    margin: auto;
    padding: 0.6rem;
    color: yellow;
}

.floatMenuDiv a {
    z-index: 40;
    color: var(--text03);
    text-decoration: none;
    padding: 8px 32px 18px 8px;
    text-decoration: none;
    font-size: 100%;
    text-align: center;
    margin: auto;
    display: block;
    transition: 0.3s;
    border-radius: 50%;
}

.floatMenuDiv a:hover {
    border-radius: 50%;
    z-index: 40;
    background-color: var(--bg02);
    color: var(--text02);
}

@media screen and (max-height: 700px),
(max-width: 500px) {
    .floatMenuDiv {
        bottom: 40%;
        left: 1%;
    }

    .floatMenuDiv p {
        font-size: 1rem;

    }

}

.messageWindow {
    z-index: 200;
    position: absolute;
    /* max-height: 20%; */
    height: fit-content;
    max-width: 95%;
    width: 95%;
    top: 60%;
    padding: 2%;
    background-color: var(--bg01);
    border: 2px groove var(--border01);
    border-radius: 3rem;
    margin: auto;
}

.messageWindow p {
    color: var(--text01);
    text-align: right;
    font-size: 2rem;
}

.messageWindow .bottom {
    top: 10%;
}

.messageWindow .mid {
    top: 50%;
}

.messageWindow .top {
    top: 10%;
}

.messageWindow .green {
    color: rgb(157, 255, 0);
}

.messageWindow .red {
    color: red;
}

.messageWindow .big {
    font-size: x-large;
}

@media screen and (max-height: 700px),
(max-width: 500px) {
    .messageWindow {
        top: 5%;
    }

    .messageWindow p {
        font-size: 3rem;
    }

}

.closeButton {
    width: fit-content;
    margin: auto;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding: 0.4rem;
    color: rgba(255, 166, 0, 0.93);
    font-size: 150%;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(245, 91, 14);
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
    float: center;
    margin: auto;
}

.divFullPage {
    /* background-color: green; */
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.divAbout {
    display: block;
    z-index: 100;
    position: absolute;
    top: 25%;
    left: 0%;
    right: 0%;
    width: fit-content;
    margin: auto;
    background-color: var(--bg01);
    border: 2px solid var(--border01);
    border-radius: 15%;
    padding: 5%;
    color: var(--text03);
    font-size: 1.6rem;
}

.divAbout p {
    right: 50%;
}

.divAboutClose {
    display: hidden;
}

.windowConstant {
    opacity: 1;
}

.messageBoardWindow {
    z-index: 80;
    position: relative;
    /* display: inline-block; */
    /* top: 10%; */
    /* left: 5%; */
    /* right: 5%; */
    width: 85%;
    max-width: 650px;
    height: 85%;
    margin: auto;
    background-color: var(--bg01);
    border: 1px solid var(--border02);
    /* padding: 1rem; */
    padding-top: 0.2rem;
    color: var(--text03);
}

.mBoardHeader {
    top: 0.1rem;
    margin-bottom: 0.5rem;
    color: var(--listItemSelected);
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2.4rem;
    border: 1px groove rgb(3, 117, 143);
}

.postInputDiv {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 5%;
    width: 95%;
}

.postInputTypes {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    bottom: 0.5rem;
    width: 80%;
}

.mboardButton {
    /* position: relative; */
    width: fit-content;
    height: fit-content;
    font-size: 1.5rem;
    color: black;
    left: 0px;
    margin: auto;
    margin-left: 0px;
    float: center;
    text-align: center;
    justify-content: center;
    background-color: var(--buttonYes);
    border: 1px outset grey;
}

.mboardButtonError {
    display: none;
    position: relative;
    width: fit-content;
    height: 2rem;
    font-size: 1.5rem;
    color: black;
    left: 0px;
    margin: auto;
    margin-left: 0px;
    float: center;
    text-align: center;
    justify-content: center;
    background-color: var(--buttonNo);
    border: 1px outset grey;
}

#imageAddButton {
    background-color: rgb(6, 101, 130);
    right: 0px;
    margin: auto;
    margin-right: 0px;
}

#imageRemoveButton {
    background-color: rgb(6, 101, 130);
    right: 0px;
    margin: auto;
    margin-right: 0px;
}

.mboardButton:active {
    border: 1px inset grey;
}

.postImgPreview {

    max-width: 5rem;
    max-height: 3rem;
}

.uploadImg {
    display: flex;
    height: fit-content;

}

.messageBoardBottom {
    position: absolute;
    display: none;
    margin: auto;
    text-align: center;
    bottom: 0.2rem;
    color: var(--itemPrice);
}

.postInput {
    resize: none;
    width: 90%;
    height: 3rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3%;
    padding: 10px;
    background-color: #1e44578c;
    font-size: 1.2rem;
    color: var(--itemPrice);
    overflow: hidden;
    user-select: auto;
}

.posts {
    position: relative;
    height: 75%;
    width: 95%;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 1%;
    right: 0.2rem;
    transition: background-color 0.8s ease;
    overflow-y: auto;
    overflow-x: hidden;
    clear: both;
    font-size: 1.2rem;
    word-wrap: break-word;
    scroll-behavior: smooth;
}

.contextMenu {
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.contextMenu img {
    padding: 0.5rem;
    margin: 0rem 1rem 0rem 1rem;
    filter: invert();
    background-color: #c2ccd6cc;
}

.cmenuItems {
    padding: 0.5rem;
    margin: 0rem 1rem 0rem 1rem;
    filter: invert();
    background-color: #c2ccd6cc;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
}

.postDisplay {
    color: #ebcb3d;
    border: 1px dotted rgb(6, 143, 129);
    border-radius: 2%;
    display: flex;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 0.2rem;
    width: fit-content;
    max-width: 95%;
    padding-right: 2%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: pre-line;
    pointer-events: auto;
}

.postDisplay #contextMenu {
    z-index: 150;
    width: fit-content;
    height: fit-content;
    position: absolute;
    padding: 0.5rem;
    margin: auto;
    color: white;
    background-color: rgba(23, 107, 140, 0.526);
}

.postDisplayImg {
    max-width: 80%;
    max-height: 90%;
    margin-bottom: 0px;
    padding: 1.2rem;
    padding-bottom: 0px;
    user-zoom: auto;
}

.postDisplayImg img {
    user-zoom: auto;
    max-width: 100%;
    max-height: 100%;
    pointer-events: none;
}

.postDisplay p {
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    user-select: text;
}

.oddPost {
    background-color: #122c34b3;
}

.evenPost {
    background-color: #103b4fc1;
}

.chatbotPost {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #8ace88;
    border: 1px dotted rgb(6, 143, 129);
    border-radius: 2%;
    left: 0px;
    margin-right: 2rem;
    background-color: #051930c1;
    user-select: text;
}

.progressBarDiv {
    width: 80%;
    margin: auto;
    margin-top: 4px;
    margin-bottom: 4px;
    height: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    /* position: absolute; */
}

.progressBar {
    background-color: green;
    height: 10px;
    width: 0px;
}

.header {
    display: flex;
    text-align: center;
    right: 0px;
    margin: auto;
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
    padding: 0px;
    padding-bottom: 0px;
    border-radius: 1em;
}

@media screen and (max-height: 700px),
(max-width: 500px) {
    .messageBoardWindow {
        /* height: 80%; */
        /* top: 7%; */
    }

    .mboardButton {
        /* position: absolute; */
        /* bottom: 1rem; */
        font-size: 1.2rem;
    }


}

.shadow1 {
    text-shadow: 3px 1px 2px rgba(163, 130, 69, 0.616);
}

.header p {
    border-radius: 2rem;
    color: rgba(225, 170, 68, 0.896);
    font-size: 2.2rem;
    line-height: 0.4rem;
    margin: 0px;
    margin-bottom: 0.2rem;
    padding: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.animColor1 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-color: transparent;
    background-size: 0px;
    animation: anim1Color1 64s ease infinite running;
}

@keyframes anim1Color1 {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.animColor2 {
    background-image: none;
    background-color: transparent;
    background-size: 0px;
    animation: anim1Color1 64s ease infinite running;
}

@keyframes anim2Color2 {
    0% {
        filter: hue-rotate(180deg);
    }

    100% {
        filter: hue-rotate(179deg);
    }
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.window {
    z-index: 50;
    position: absolute;
    max-height: 90%;
    height: 95%;
    width: 90%;
    top: 5%;
    left: 5%;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    background-color: rgb(0, 0, 0);
    border: 2px groove var(--border01);
    /* border-radius: 3rem; */
    margin: auto;
    text-align: right;
}

.fontLarge {
    font-size: xx-large;
}

.windowbuttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto auto 5% auto;
    margin-bottom: 0px;
    bottom: 0px;
}

.windowButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    width: 90%;
    height: 5rem;
    max-height: 20rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: black;
    border: 3px outset var(--border01);
}

.windowButton:active {
    border: 3px inset grey;
}

.no {
    background-color: var(--buttonNo);
}

.yes {
    background-color: var(--buttonYes);
}

.window p {
    font-size: 1.4rem;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    margin-right: 4%;
    color: var(--text01);
    word-wrap: break-word;
    white-space: initial;
    word-break: break-word;
}

@media screen and (max-height: 700px),
(max-width: 500px) {

    .windowButton {
        font-size: 1rem;
    }

    .window p {
        font-size: 1.2rem;
        margin-right: 1%;
    }

}

.tableEven {
    background-color: lightblue;
}

.tableOdd {
    background-color: lightskyblue;
}

.userInfoChangeNick {
    background-color: rgb(106, 106, 106);
}

.userInfoTable {
    direction: ltr;
}

.windowTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.userInfoChangeNickDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.userInfoChangeNickText {
    width: 80%;
    height: 2rem;
    color: grey;
    font-size: 1rem;
    padding: 0px;
    max-height: 3rem;
    justify-content: center;
    margin: auto;
    resize: none;
}

.userInfoChangeNickButton {
    width: 20%;
    height: 2rem;
    color: black;
    text-align: center;
    margin: auto;
    float: left;
    background-color: rgb(140, 228, 255);
    border: 3px outset grey;
}

.userInfoChangeNickButton:active {
    border: 3px inset grey;
}

.userInfoCloseButton {
    text-align: left;
    float: left;
    width: 2rem;
    margin: auto;
    padding-top: 0px;
    padding-left: 2%;
    color: red;
    font-size: 180%;
}

.userInfoTableDiv {
    /* position: relative; */
    max-height: 70%;
    width: 95%;
    top: 0px;
    height: auto;
    border-radius: 5px;
    margin: auto;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: right;
    overflow: auto;
}

.userInfoTable {
    width: 95%;
    border: 0px;
    margin: auto;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    font-size: 100%;
    background-color: lightskyblue;
}

.deleteOrderButton {
    width: 50%;
    height: 100%;
    max-height: 2rem;
    margin: auto;
    text-align: center;
    color: black;
    background-color: var(--buttonNo);
    border: 3px outset grey;
}

.deleteOrderButton:active {
    border: 3px inset grey;
}

.userInfoOrderDeleteConfirm {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.deleteOrderConfirm {
    margin: auto;
    text-align: center;
    color: black;
    height: 3rem;
    background-color: red;
    border: 3px outset grey;
}

.deleteOrderConfirm:active {
    border: 3px inset grey;
}

.deleteOrderConfirmYes {
    background-color: var(--buttonNo);
}

.deleteOrderConfirmNo {
    background-color: var(--buttonYes);
}

.footer {
    /* max-width: 800px; */
    display: none;
    z-index: -1;
    position: absolute;
    color: black;
    flex: 1;
    text-align: center;
    font-size: x-small;
    width: 100%;
    border-radius: 2em;
    bottom: 0px;
    margin: auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(2, 140, 246, 0.526), rgba(2, 140, 246, 0.526), rgba(0, 0, 0, 0));
}

.footer P {
    height: fit-content;
    padding: 0px;
    padding-left: 7%;
    margin: 0px;
    left: 0px;
    text-align: end;
    line-height: 100%;
}

.header {
    display: flex;
    text-align: center;
    right: 0px;
    margin: auto;
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
    padding: 0px;
    padding-bottom: 0px;
    border-radius: 1em;
}

.shadow1 {
    text-shadow: 3px 1px 2px rgba(163, 130, 69, 0.616);
}

.header p {
    border-radius: 2rem;
    color: rgba(225, 170, 68, 0.896);
    font-size: 2.2rem;
    line-height: 0.4rem;
    margin: 0px;
    margin-bottom: 0.2rem;
    padding: 0px;
    padding-top: 3%;
    padding-bottom: 3%;
}

.animColor1 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-color: transparent;
    background-size: 0px;
    animation: anim1Color1 64s ease infinite running;
}

@keyframes anim1Color1 {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.animColor2 {
    background-image: none;
    background-color: transparent;
    background-size: 0px;
    animation: anim1Color1 64s ease infinite running;
}

@keyframes anim2Color2 {
    0% {
        filter: hue-rotate(180deg);
    }

    100% {
        filter: hue-rotate(179deg);
    }
}

.openSideMenu {
    color: var(--text02);
    width: 4rem;
    right: 0.5rem;
    /* bottom: 16rem; */
    padding-left: 10px;
    position: absolute;
    z-index: 30;
    top: 0.5rem;
    bottom: auto;
}

.openSideMenu img {
    width: 55%;
    height: 55%;
    filter: invert(0.6);
}

.sideMenu {
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 0;
    position: fixed;
    z-index: 60;
    top: 0px;
    bottom: 100%;
    right: 0;
    background-color: rgba(11, 49, 58, 1);
    border: 0px solid #97480f;
    border-width: 0px;
    overflow-x: hidden;
    transition: all 1.5s;
    white-space: nowrap;
    margin: 0px;
}

.sideMenu p {
    padding: 8px 32px 18px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #cfcfcf;
    display: block;
    transition: 0.3s;
    word-wrap: unset;
}

.sideMenu img {
    padding-right: 25%;
    width: 60%;
    height: 100%;
    filter: invert(0.6);
    transform: scaleX(-1);
    bottom: 0px;
    padding-bottom: 0px;
}

.sideMenu p:hover {
    background-color: #a49c9c;
    color: #ffffff;
}

.sideMenu .closeSideMenu {
    position: relative;
    /* top: 2%; */
    bottom: 0px;
    right: 5px;
    height: 30px;
    width: 100%;
    /* font-size: 2px; */
    margin-left: 25px;
    padding: 0px;
    color: rgb(255, 242, 0);
}

@media screen and (max-height: 700px),
(max-width: 500px) {
    .openSideMenu {
        top: 0px;
        bottom: auto;
    }

    .sideMenu {
        bottom: 100%;
        top: 0px;

    }

}

.topMenuDiv {
    direction: ltr;
    max-width: 80%;
    margin: auto;
    padding: 0px;
    color: aliceblue;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
}

.topMenuDiv>div {
    display: inline-block;
    vertical-align: top;
    margin: 0px 4rem 0px 4rem;
}

#userIndic {
    left: 75%;
    z-index: 200;
    margin-right: 5rem;
    margin-bottom: 2rem;
    width: fit-content;
    font-size: 2rem;
    color: var(--text01);
    white-space: nowrap;
}

#userPageButton {
    border: 4px outset rgb(17, 69, 118);
    background-color: black;
    border-radius: 00%;
    padding: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0px;
    margin-right: 0rem;
    position: absolute;
    right: 10px;
    font-size: 1.2rem;
}

#userPageButton:active {
    border: 4px inset rgb(17, 69, 118);
}

.userPageHidden {
    opacity: 0;
}

.userPageShow {
    opacity: 1;
}

#userPage:active {
    border: 2px inset rgb(17, 69, 118);
    border-radius: 50%;
}

#conIndic {}

.connectionIndic {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    transition: opacity 2s ease;
    background-color: green;
}

.conOk {
    /* animation: indicOk 5s linear infinite; */
}

@media screen and (max-height: 700px),
(max-width: 500px) {
    #userIndic {}

    .connectionIndic {
        top: 1rem;
        left: -2rem;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        transition: opacity 2s ease;
        background-color: green;
    }
}


@keyframes indicOk {
    0% {
        background-color: black;
    }

    15% {
        background-color: green;
    }

    85% {
        background-color: green;
    }

    100% {
        background-color: black;
    }
}

/* ----------------Display----------------- */
.display {
    position: absolute;
    /* border-top: 1px dotted green; */
    /* border-bottom: 1px dotted green; */
    height: 2rem;
    width: 100%;
    left: 0px;
    margin-bottom: 0.1rem;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    z-index: -1;
}

.display p {
    color: wheat;
    font-size: 1.5rem;
    /* white-space: pre; */
    /* transition: all 20s; */
    color: orange;
    display: inline-flex;
    flex-direction: row;
}

.displayMessage {
    /* position: absolute; */
    width: 100%;
    height: 2rem;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    /* transform: translateX(-200%); */
    /* animation: move 90s linear infinite; */
}

@keyframes move {
    to {
        transform: translateX(200%);
    }
}