/* Global Styles */

html {
    box-sizing: border-box;
    direction: rtl;
    /* background-color: black; */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header Styles */

.header {
    display: flex;
    text-align: center;
    right: 0px;
    margin: auto;
    margin-bottom: 0px;
    padding: 0px;
    margin-top: 1.6em;
    padding-bottom: 0.2em;
    border-radius: 1em;
}

/* Top Menu Styles */

.topmenu {
    display: none;
    justify-content: center;
    background-color: #444;
    color: #fff;
    padding: 10px;
}

.topmenu a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Input Bar Styles */

.searchBoxDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.searchBoxDiv input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

/* Product List Styles */

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    overflow-y: scroll;
    height: 400px;
}

.item {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.item h3 {
    font-size: 18px;
    margin-top: 0;
}

.item p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Place Order Button Styles */

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

/* Media Queries */

@media (max-width: 768px) {
    .item {
        width: 45%;
    }
}

@media (max-width: 576px) {
    .item {
        width: 100%;
    }
}

.hidden {
    display: none;
}

.floatMenuDiv {
    position: absolute;
    height: fit-content;
    width: fit-content;
    z-index: 5500;
    bottom: 50%;
    left: 0;
    border-radius: 50%;
    border: 1px inset whitesmoke;
    transition: 0.5s;
}

.floatMenuDiv p {
    z-index: 5100;
    color: whitesmoke;
    font-size: 50%;
    margin: auto;
}

.floatMenuDiv a {
    z-index: 5100;
    color: whitesmoke;
    text-decoration: none;
    padding: 8px 32px 18px 8px;
    text-decoration: none;
    font-size: 100%;
    text-align: center;
    margin: auto;
    display: block;
    transition: 0.3s;
    border-radius: 50%;
}

.floatMenuDiv a:hover {
    border-radius: 50%;
    z-index: 5100;
    background-color: #7b6f6fd8;
    color: #ffffff;
}